<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="search">
    <!--<form class="head-tt" id="i_search" method="post"  autocomplete="off" action='/findListBybname'> -->
    <!--<div class="head-tt-bj"></div>
    <div class="head-td f16">
      <ul>
       <li class="search-tr"><a href="javascript:void(0);" class="hover">找新房</a>
            <a href="/bieshu/bs_index"  class="haikou">唯房会特价别墅总汇</a>

         </li>

        <li class="search-tt">
          <input type="text"  class="search-inp f16 keyword_p" id="buildings_name" name="buildings_name" value="请输入楼盘名称"  onfocus="if (value =='请输入楼盘名称'){value =''}" onblur="if (value ==''){value='请输入楼盘名称'}">
          <input type="submit" value="" class="search-but" onclick="submitFourm_p()">
          <ul class="sous-ts">
          </ul>
        </li>

        <li class="search-hot f14">
          <select class="haveSelM1_p" name="city_id" id="city_id" onchange="submiBtn_p()">
            <option value="111" selected="selected">区域</option>
            <option value="460100">海口市</option>
            <option value="460200">三亚市</option>
            <option value="460500">澄迈县</option>
            <option value="460400">琼海市</option>
            <option value="460600">文昌市</option>
            <option value="460220">儋州市</option>
            <option value="460160">保亭县</option>
            <option value="460700">万宁市</option>
            <option value="460300">东方市</option>
            <option value="460150">陵水市</option>
            <option value="460800">定安县</option>
            <option value="469000">屯昌县</option>
            <option value="460110">临高县</option>
            <option value="460120">白沙县</option>
            <option value="460130">昌江县</option>
            <option value="460140">乐东县</option>
            <option value="460700">兴隆镇</option>
          </select>

          <select class="haveSelM2_p" name="active_price" id="active_price" onchange="submiBtn_p()">
            <option value="222" selected="selected">价格</option>
            <option value="4000">4000以下</option>
            <option value="6000">4000-6000</option>
            <option value="8000">6000-8000</option>
            <option value="10000">8000-10000</option>
            <option value="11000">10000以上</option>
          </select>
          <select class="haveSelM3_p" name="acreage" id="acreage" onchange="submiBtn_p()">
            <option value="333" selected="selected">面积</option>
            <option value="50"> 50㎡以下</option>
            <option value="70">50-70㎡</option>
            <option value="90">70-90㎡</option>
            <option value="110">90-110㎡</option>
            <option value="150">110-150㎡</option>
          </select>
          <select class="haveSelM4_p" name="shi" id="shi" onchange="submiBtn_p()">
            <option value="444" selected="selected">户型</option>
            <option value="1">一居</option>
            <option value="2">二居</option>
            <option value="3">三居</option>
            <option value="4">四居</option>
            <option value="5">五居居</option>
            <option value="6">五居以上</option>
          </select>

        </li>
      </ul>
    </div> -->
   <!-- </form> -->
  </div>

    <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active ad1" onclick="javascript:window.open('/buildings/460000/767/碧桂园十里繁花')">
      <picture >
        <source srcset="/images/slfh_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/bgyslfh.jpg" alt="Sample pic"  />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.open('/buildings/460000/710/观澜湖·观悦')">
      <picture>
        <source srcset="/images/glhgy_sj.png" media="(max-width: 768px)" />
        <img srcset="/images/glhgy.png" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.open('/buildings/460000/24/富力红树湾')">
      <picture>
        <source srcset="/images/flhsw_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/flhsw.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item"  onclick="javascript:window.open('/buildings/460000/679/融创观澜湖公园壹号')">
      <picture>
        <source srcset="/images/glh_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/gyyh.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.open('/buildings/460000/663/融创美伦熙语')">
      <picture>
        <source srcset="/images/mlxy_sj.png" media="(max-width: 768px)" />
        <img srcset="/images/mlxy.png" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.open('/buildings/460000/720/富力·悦海湾')">
      <picture>
        <source srcset="/images/flyhw_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/flyhw.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.open('/buildings/460000/683/恒大御海天下')">
      <picture>
        <source srcset="/images/yhtx_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/yhtx.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.open('/buildings/460000/579/星华海岸城')">
      <picture>
        <source srcset="/images/xhhac_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/xhhac.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <!--
    <div class="item"  onclick="javascript:window.location.href='/buildings/281/460000/250/碧桂园珊瑚宫殿'">
      <picture>
        <source srcset="/images/shgd_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/shgd.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"  onclick="javascript:window.location.href='/buildings/485/460000/179/天赐上湾'">
      <picture>
        <source srcset="/images/tcsw_sj.jpg" media="(max-width: 768px)" />
        <img srcset="/images/tcsw.jpg" alt="Sample pic" />
      </picture>
      <div class="carousel-caption">
      </div>
    </div>
     -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

