<div  class="content-body">
	<div class="container">
		<div id="div1" class="content-left-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="left-title row">
				<img src="/images/new_title.png">
			</div>
			<div class="active-list">
				
			</div>
		</div>
		<div class="content-right-block col-sm-4 col-md-4 col-lg-4">
			<div class="sys-message row">
				<div class="notice-title">
					<span class="small-tab right-border active" data-id="now">公告</span><span class="small-tab" data-id="his">历史</span>
				</div>
				<div class="notice-content now">
					<div class="notice-item"><a href="">111</a></div>
				</div>
				<div class="notice-content his" style="display:none;">
					<div class="notice-item"><a href="">222</a></div>
				</div>
			</div>
			<div class="right-ad row">
				<img>
			</div>
			<div class="advance row">
				预告
				<div>明天后天</div>
			</div>
		</div>
	</div>
</div>
<div class="bottom-pull-loading">
	加载中........
</div>
<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
        <a class="qr"></a>
  	<div class="qr-popup">
    	<a class="code-link"><img class="code" src="/images/wx.jpg"/></a>
        <span>唯房会微信</span>
    <div class="arr"></div>
  </div>
  
</div>