<style type="text/css">
    #J_comingViewWin_20160306 {

    }
</style>
<div class="content-body">
    <div class="container">
        <div id="div1"
             class="content-left-block col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
            <div class="left-title row">
                <img src="/images/new_title.png">
            </div>
            <div class="active-list"></div>
        </div>
        <div class="content-right-block col-sm-4 col-md-4 col-lg-4">

            <!-- 文字滚动广告位 -->
            <div class="text_ad" id="J_textAd_frame">
                <p class="J_textAd">
                    <img class="text_ad_icon" src="../images/14527570640310.gif"> <a
                        href="http://www.vfhui.com/news/7/为什么唯房会的房价普遍比市场价格更低" target="_blank">来唯房训练营，学习如何抢购特价房</a>
                </p>
            </div>

            <script type="text/javascript" src="javascripts/common.js"></script>
            <!-- 取消送机票广告 -->
            <!-- <div class="banner_index5">
                <a href="/demand/demand" target="_blank"><img
                        src="/images/yzs2.gif" /></a>
                <div class="indexBanner_num" id="index_numIco"></div>
            </div> -->
            <div class="banner_index2">
                <a href="/demand/demand" target="_blank"><img
                        src="/images/yzs2.gif" /></a>
                <div class="indexBanner_num" id="index_numIco2"></div>
            </div>
            <div class="notice2">
                <ul class="notice_list2">
                    <li class="toc2 J_annouce_trigger selected">热销楼盘</li>
                    <li class="toc2 J_annouce_trigger ">海南购房必读</li>
                </ul>
                <div class="notice_content2">

                    <div class="J_announce_li2 active-pannel" style="display: block;">
                        <ul  class="tt222" >

                        </ul>
                        <!--  <p><a class="notice_link_more" href="/news/newslist/1" target="_blank" title="更多">更多&gt;&gt;</a></p> -->
                      </div>
                      <div class="J_announce_li2  active-pannel" style="display: none;">
                          <ul class="tt22" >
                             <!-- <li><a class="notice_link gray" title="唯房会开发商合作热线 ：0898-32861406" href="#">开发商合作热线 ：0898-32861406</a></li> -->

                        </ul>
                        <p><a class="notice_link_more" href="/news/newslist/1" target="_blank" title="更多">更多&gt;&gt;</a></p>
                    </div>
                </div>
            </div>



            <div class="banner_index3 row">

                <div class="touxiang  col-sm-4 col-md-4 col-lg-4">
                    <img src="/images/ykg.jpg" />
                </div>
                <div class="jieshao col-sm-8 col-md-8 col-lg-8">
                    <dl>
                        <dd><strong>金牌顾问：</strong>叶开广</dd>
                        <dd><strong>客户评价：</strong>原平安业务经理 专业的业务素养</dd>
                        <dd><strong>联系方式：</strong>183-8980-9020</dd>
                        <dd><strong>综合评价：</strong><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /></dd>
                    </dl>
                </div>

            </div>
            <div class="banner_index3 row">

                <div class="touxiang  col-sm-4 col-md-4 col-lg-4">
                    <img src="/images/lwy.jpg" />
                </div>
                <div class="jieshao col-sm-8 col-md-8 col-lg-8">
                    <dl>
                        <dd><strong>金牌顾问：</strong>林徽因</dd>
                        <dd><strong>客户评价：</strong>对客户非常有耐心 服务好</dd>
                        <dd><strong>联系方式：</strong>178-9896-3672</dd>
                        <dd><strong>综合评价：</strong><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /></dd>
                    </dl>
                </div>

            </div>
            <!--
                        <div class="banner_index3 row">

                            <div class="touxiang  col-sm-4 col-md-4 col-lg-4">
                                <img src="/images/dyy.jpg" />
                            </div>
                            <div class="jieshao col-sm-8 col-md-8 col-lg-8">
                                <dl>
                                    <dd><strong>金牌顾问：</strong>邓永玉</dd>
                                    <dd><strong>客户评价：</strong>专业的服务精神 倍受老客推荐 </dd>
                                    <dd><strong>联系方式：</strong>186-6269-4066</dd>
                                    <dd><strong>综合评价：</strong><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /><img src="/images/xx.gif" /></dd>
                                </dl>
                            </div>

                        </div>
                        -->





                        <!-- 代码 开始 -->
            <div class="banner_index">
                <a href="javascript:void(0);" class="btn btnPre"
                   id="banner_index_pre"></a> <a href="javascript:void(0);"
                                                 class="btn btnNext" id="banner_index_next"></a>
                <ul class="banner_wrap" id="banner_index">
                    <li><a href="http://www.vfhui.com/news/7/为什么唯房会的房价普遍比市场价格更低" target="_blank"><img
                            src="/images/14545564155743.jpg" /></a></li>
                    <li><a href="http://www.vfhui.com/news/8/老客户天涯社区真情流露感恩唯房会真诚帮助" target="_blank"><img
                            src="/images/14569132970589.jpg" /></a></li>
                </ul>
                <div class="indexBanner_num" id="index_numIco"></div>
            </div>

            <script type="text/javascript">
                var ShowPre1 = new ShowPre({
                    box : "banner_index",
                    Pre : "banner_index_pre",
                    Next : "banner_index_next",
                    numIco : "index_numIco",
                    loop : 1,
                    auto : 1
                });
            </script>
            <!-- 代码 结束 -->

            <!--公告-->
            <!--
            <div class="sys-message row">
                <div class="notice-title">
                    <!--<span class="small-tab" data-id="now">公告</span>-->
            <script>
                $(function() {
                    $(".notice .notice_list li").mouseover(
                            function() {
                                $(this).addClass('selected').siblings()
                                        .removeClass('selected');
                                var index = $(this).index();
                                number = index;
                                $('.notice .notice_content .J_announce_li')
                                        .hide();
                                $(
                                        '.notice .notice_content .J_announce_li:eq('
                                        + index + ')').show();
                            });

                    var auto = 1; //等于1则自动切换，其他任意数字则不自动切换
                    if (auto == 1) {
                        var number = 0;
                        var maxNumber = $('.notice .notice_list li').length;
                        function autotab() {
                            number++;
                            number == maxNumber ? number = 0 : number;
                            $('.notice .notice_list li:eq(' + number + ')')
                                    .addClass('selected').siblings()
                                    .removeClass('selected');
                            $(
                                    '.notice .notice_content .J_announce_li:eq('
                                    + number + ')').show().siblings()
                                    .hide();
                        }
                    }
                });

                $(function() {
                    $(".notice2 .notice_list2 li").mouseover(
                            function() {
                                $(this).addClass('selected').siblings()
                                        .removeClass('selected');
                                var index = $(this).index();
                                number = index;
                                $('.notice2 .notice_content2 .J_announce_li2')
                                        .hide();
                                $(
                                        '.notice2 .notice_content2 .J_announce_li2:eq('
                                        + index + ')').show();
                            });

                    var auto = 1; //等于1则自动切换，其他任意数字则不自动切换
                    if (auto == 1) {
                        var number = 0;
                        var maxNumber = $('.notice2 .notice_list2 li').length;
                        function autotab() {
                            number++;
                            number == maxNumber ? number = 0 : number;
                            $('.notice2 .notice_list2 li:eq(' + number + ')')
                                    .addClass('selected').siblings()
                                    .removeClass('selected');
                            $(
                                    '.notice2 .notice_content2 .J_announce_li2:eq('
                                    + number + ')').show().siblings()
                                    .hide();
                        }
                    }
                });
            </script>

            <!-- 代码部分end -->

            <!--  <div class="notice">
                <ul class="notice_list">
                    <li class="toc J_annouce_trigger selected">唯房会购房攻略</li>
                    <li class="toc J_annouce_trigger ">合作专区</li>
                </ul>
                <div class="notice_content">

                    <div class="J_announce_li active-pannel" style="display: block;">
                        <ul  class="tt22" id="J-fashionWnews hidden">

                        </ul>
                        <p><a class="notice_link_more" href="/news/newslist/1" target="_blank" title="更多">更多&gt;&gt;</a></p>
                    </div>
                    <div class="J_announce_li  active-pannel" style="display: none;">
                        <ul >
                            <li><a class="notice_link gray" title="唯房会开发商合作热线 ：0898-32861406" href="#">开发商合作热线 ：0898-32861406</a></li>

                        </ul>

                    </div>
                </div>
            </div> -->
            <div class="banner_index4">
                <a href="/buildings/78/460000/81/鲁能海蓝福源" target="_blank"><img
                        src="/images/lhfy.jpg" /></a>
                <div class="indexBanner_num" id="index_numIco"></div>
            </div>
            <div class="banner_index4">
                <a href="/buildings/515/460000/145/碧桂园东海岸" target="_blank"><img
                        src="/images/bgy.jpg" /></a>
                <div class="indexBanner_num" id="index_numIco"></div>
            </div>
            <div class="banner_index4">
                <a href="/buildings/585/460000/298/富力湾" target="_blank"><img
                        src="/images/flw.jpg" /></a>
                <div class="indexBanner_num" id="index_numIco"></div>
            </div>

            <div class="banner_index4">
                <a href="/buildings/404/460000/203/南国威尼斯城" target="_blank"><img
                        src="/images/ngwns.jpg" /></a>
                <div class="indexBanner_num" id="index_numIco"></div>
            </div>
     <!--       <div class="m-forecast cellphone-night-warp" id="J_wrap_cellphone">

                <strong class="forecast-title cellphone-night-title">合作伙伴</strong>
                <div class="cellphone-night-con" id="J_cellphone-night-con">
                    <div class="cellphone-night-list J_cellphone_list clearfix"
                         id="J_cellphone-night-list">
						<span class="forecast-logo J_cellphoneLogo"> <a
                                href="http://www.vfhui.com/buildings/194/460000/98/信达海天下"
                                target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                            <img
                                    src="http://www.vfhui.com:8080/management/resource/upload_buildings/194/logo/logo.gif"
                                    class=""
                                    data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/194/logo/logo.gif"
                                    height="48" alt="信达 海天下">
                        </a>
						</span><span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/21/460000/90/华盛·中央公园"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/21/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/21/logo/logo.gif"
                                height="48" alt="华盛 中央公园">
                    </a>
						</span> <span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/123/460000/87/倚能美林湾"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/123/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/123/logo/logo.gif"
                                height="48" alt="倚能 美林湾">
                    </a>
						</span>
                    </div>
                </div>
                <div class="cellphone-night-con" id="J_cellphone-night-con">
                    <div class="cellphone-night-list J_cellphone_list clearfix"
                         id="J_cellphone-night-list">
						<span class="forecast-logo J_cellphoneLogo"> <a
                                href="http://www.vfhui.com/buildings/140/460000/54/远洋华墅"
                                target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                            <img
                                    src="http://www.vfhui.com:8080/management/resource/upload_buildings/140/logo/logo.gif"
                                    class=""
                                    data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/140/logo/logo.gif"
                                    height="48" alt="远洋华墅">
                        </a>
						</span><span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/329/460000/97/四季华庭阳光华府"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/329/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/329/logo/logo.gif"
                                height="48" alt="四季华庭阳光华府">
                    </a>
						</span> <span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/355/460000/99/海信华庭"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/355/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/355/logo/logo.gif"
                                height="48" alt="海信华庭">
                    </a>
						</span>
                    </div>
                </div>
                <div class="cellphone-night-con" id="J_cellphone-night-con">
                    <div class="cellphone-night-list J_cellphone_list clearfix"
                         id="J_cellphone-night-list">
						<span class="forecast-logo J_cellphoneLogo"> <a
                                href="http://www.vfhui.com/buildings/151/460000/86/永庆湾"
                                target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                            <img
                                    src="http://www.vfhui.com:8080/management/resource/upload_buildings/151/logo/logo.gif"
                                    class=""
                                    data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/140/logo/logo.gif"
                                    height="48" alt="永庆湾">
                        </a>
						</span><span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/182/460000/77/滨江逸品"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/182/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/182/logo/logo.gif"
                                height="48" alt="滨江逸品">
                    </a>
						</span> <span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/168/460000/80/船长de海寓"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/168/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/168/logo/logo.gif"
                                height="48" alt="船长de海寓">
                    </a>
						</span>
                    </div>
                </div>
                <div class="cellphone-night-con" id="J_cellphone-night-con">
                    <div class="cellphone-night-list J_cellphone_list clearfix"
                         id="J_cellphone-night-list">
						<span class="forecast-logo J_cellphoneLogo"> <a
                                href="http://www.vfhui.com/buildings/128/460000/61/海航豪庭"
                                target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                            <img
                                    src="http://www.vfhui.com:8080/management/resource/upload_buildings/128/logo/logo.gif"
                                    class=""
                                    data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/128/logo/logo.gif"
                                    height="48" alt="永庆湾">
                        </a>
						</span><span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/51/460000/55/保利中央海岸"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/51/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/51/logo/logo.gif"
                                height="48" alt="保利中央海岸">
                    </a>
						</span> <span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/26/460000/75/澄迈碧桂园美浪湾"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/26/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/26/logo/logo.gif"
                                height="48" alt="澄迈碧桂园美浪湾">
                    </a>
						</span>
                    </div>
                </div>
                <div class="cellphone-night-con" id="J_cellphone-night-con">
                    <div class="cellphone-night-list J_cellphone_list clearfix"
                         id="J_cellphone-night-list">
						<span class="forecast-logo J_cellphoneLogo"> <a
                                href="http://www.vfhui.com/buildings/54/460000/71/慧远·美林谷"
                                target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                            <img
                                    src="http://www.vfhui.com:8080/management/resource/upload_buildings/54/logo/logo.gif"
                                    class=""
                                    data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/78/logo/logo.gif"
                                    height="48" alt="慧远·美林谷">
                        </a>
						</span><span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/24/460000/69/富力红树湾"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/24/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/24/logo/logo.gif"
                                height="48" alt="富力红树湾">
                    </a>
						</span> <span class="forecast-logo J_cellphoneLogo"> <a
                            href="http://www.vfhui.com/buildings/78/460000/81/鲁能海蓝福源"
                            target="_blank" mars_sead="enter_act_mobile_brand_prehot_page">
                        <img
                                src="http://www.vfhui.com:8080/management/resource/upload_buildings/78/logo/logo.gif"
                                class=""
                                data-original="http://www.vfhui.com:8080/management/resource/upload_buildings/78/logo/logo.gif"
                                height="48" alt="远洋华墅">
                    </a>
						</span>
                    </div>
                </div>
            </div>  -->
        </div>






    </div>
</div>


<!----新品开售预告开始---->
<!--
                                <script>
                                    $(function(){
                                        $("#J_wrap_salePlan #J-comingBrand-trigger li").mouseover(function(){
                                            $(this).addClass('selected').siblings().removeClass('selected');
                                            var index = $(this).index();
                                            number = index;
                                            $('#J-comingBrand-wrap li').hide();
                                            $('#J-comingBrand-wrap li:eq('+index+')').show();
                                        });

                                        var auto = 1;  //等于1则自动切换，其他任意数字则不自动切换
                                        if(auto ==1){
                                            var number = 0;
                                            var maxNumber = $('#J_wrap_salePlan #J-comingBrand-trigger li').length;
                                            function autotab(){
                                                number++;
                                                number == maxNumber? number = 0 : number;
                                                $('#J_wrap_salePlan #J-comingBrand-trigger li:eq('+number+')').addClass('selected').siblings().removeClass('selected');
                                                $('#J-comingBrand-wrap li:eq('+number+')').show().siblings().hide();
                                            }
                                            //var tabChange = setInterval(autotab,3000);
                                            //鼠标悬停暂停切换
                                            //$('.notice').mouseover(function(){
                                            //	clearInterval(tabChange);
                                            //});
                                            //$('.notice').mouseout(function(){
                                            //	tabChange = setInterval(autotab,3000);
                                            //});
                                        }
                                    });
                                </script>
                                <div class="m-forecast" id="J_wrap_salePlan"> <strong class="forecast-title">新品牌开售预告</strong>
                                    <ul class="forecast-tit" id="J-comingBrand-trigger">
                                        <li data-date="20160304" class="toc J_comingBrand_btn selected"><span class="slider-l">明天<font>03/04</font></span></li>
                                        <li data-date="20160305" class="toc J_comingBrand_btn"><span class="slider">后天<font>03/05</font></span></li>
                                        <li data-date="20160306" class="toc J_comingBrand_btn"><span class="slider">周日<font>03/06</font></span></li>
                                        <li data-date="20160307" class="toc J_comingBrand_btn "><span class="slider-r">周一<font>03/07</font></span></li>
                                    </ul>
                                    <ul id="J-comingBrand-wrap">
                                        <li class="" style="display: block;">
                                            <div class="sale-plan-big fwr J_salePlanBig" id="J_salePlanBig_20160304" style="display: block;">
                                                <ul class="sale-plan-big-list J-sPbList" id="J_salePlanBingList_20160304">
                                                </ul>
                                            </div>
                                            <div class="forecast-cnt J_sale_slidewrapper" id="J_comingViewWin_20160304" >
                                                <div class="J_comingBrand clearfix" id="J_wrap_salePlan_20160304" style="margin-top: 0px;">
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/2013090516540955411.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                     <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="forecast-ft J_pageWrap" id="J_pageWrap_20160304" > <i class="vipFont forecast-btn-up J_salePlanPrev_btn" alt="up" data-date="20160305"></i> <i class="vipFont forecast-btn-down J_salePlanNext_btn" alt="down" data-date="20160305"></i> </div>
                                        </li>
                                        <li style="display: none;" class="">
                                            <div class="sale-plan-big fwr J_salePlanBig" id="J_salePlanBig_20160305" style="display: block;">
                                                <ul class="sale-plan-big-list J-sPbList" id="J_salePlanBingList_20160305">
                                                </ul>
                                            </div>
                                            <div class="forecast-cnt J_sale_slidewrapper" id="J_comingViewWin_20160305" >
                                                <div class="J_comingBrand clearfix" id="J_wrap_salePlan_20160305" style="margin-top: 0px;">
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/2013090516540955411.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                     <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="forecast-ft J_pageWrap" id="J_pageWrap_20160305"> <i class="vipFont forecast-btn-up J_salePlanPrev_btn" alt="up" data-date="20160306"></i> <i class="vipFont forecast-btn-down J_salePlanNext_btn" alt="down" data-date="20160306"></i> </div>
                                        </li>
                                        <li style="display: none;" class="">
                                            <div class="sale-plan-big fwr J_salePlanBig" id="J_salePlanBig_20160306" style="display: block;">
                                                <ul class="sale-plan-big-list J-sPbList" id="J_salePlanBingList_20160306">
                                                </ul>
                                            </div>
                                            <div class="forecast-cnt J_sale_slidewrapper" id="J_comingViewWin_20160306">
                                                <div class="J_comingBrand clearfix" id="J_wrap_salePlan_20160306" style="margin-top: 0px;">
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/2013090516540955411.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                     <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="forecast-ft J_pageWrap" id="J_pageWrap_20160306" > <i class="vipFont forecast-btn-up J_salePlanPrev_btn" alt="up" data-date="20160306"></i> <i class="vipFont forecast-btn-down J_salePlanNext_btn" alt="down" data-date="20160306"></i> </div>
                                        </li>
                                        <li class="active-pannel" style="display: none";>
                                            <div class="sale-plan-big fwr J_salePlanBig" id="J_salePlanBig_20160307" style="display: block;">
                                                <ul class="sale-plan-big-list J-sPbList" id="J_salePlanBingList_20160307">
                                                </ul>
                                            </div>
                                            <div class="forecast-cnt J_sale_slidewrapper" id="J_comingViewWin_20160307" >
                                                <div class="J_comingBrand clearfix" id="J_wrap_salePlan_20160307" style="margin-top: 0px;">
                                                     <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/2013090516540955411.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                     <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/2013090516540955411.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                    <span class="forecast-logo J_brandLogo" data-index="0"> <a href="" target="_blank"> <img src="images/201403061752276741.jpg" class="forecast-logo-pic" data-original="http://a.vpimg1.com/upload/brand/201303/2013030117361533231.jpg" alt="车上用品专场"> </a>
                                                      <p class="forecast-logo-fav-pop hidden"> <a href="" target="_blank" mars_sead="m_shop_slw_midsale_button"> <span>收藏商品&gt;</span> </a> </p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="forecast-ft J_pageWrap" id="J_pageWrap_20160307"> <i class="vipFont forecast-btn-up J_salePlanPrev_btn" alt="up" data-date="20160307"></i> <i class="vipFont forecast-btn-down J_salePlanNext_btn" alt="down" data-date="20160307"></i> </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--新品开售预告结束-->

</div>
</div>
<div class="bottom-pull-loading">加载中........</div>
<!--
<div id="elevator_item">
    <a id="elevator" onclick="return false;" title="回到顶部"></a> <a
        class="qr"></a>
    <div class="qr-popup">
        <a class="code-link"><img class="code" src="/images/wx.jpg" /></a> <span>唯房会微信</span>
        <div class="arr"></div>
    </div>

</div>
-->
<div id="rePriceOpen" class="tz-box" style="display: none;">
    <div class="tz-con">
        <div class="tz-tit">
            <span>加入特价团</span>
        </div>
        <form id="tuangouSJ" method="post" action="/demand/demandsub">
        <ul class="ipt-list">
            <li><input class="ipt-text phone" name="Name" id="Name" placeholder="请输入您的姓名" type="text"></li>
            <li class="yzm">
                <div class="flexbox">
                    <input class="ipt-text vcode" name="Phone" id="Phone" placeholder="请输入您的手机号码" type="text">
                    <!-- <input class="ipt-btn1" value="获取验证码" id="getPhoneVcode" type="button">-->

                     <!-- <input type="button" class="ipt-btn1 disabled" value="60S后获取">
                     <input type="button" class="ipt-btn1" value="重新获取"> -->
                </div>
            </li>
        </ul>
        <p class="tz-word">团购特价会通过手机短信通知您</p>
        <div class="tz-btn flexbox">
            <input value="取消" id="hideNotice" type="button">
            <input id="qd" value="确定" type="button" onclick="tuangouSJ()">
        </div>
            </form>
    </div>

    <div class="subscribe" >
        <p class="title" style="height:54px;">加入团购 价格更低</p>
        <p class="cue">团购信息将通过短信通知您！</p>
        <div>
            <form id="tuangouPC" method="post" action="/demand/demandsub">
                <input type="hidden" name="from_tag" id="from_tag"  value="1">
                <div class="p1">
                <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
                <input class="tel" name="Name" id="NamePC" type="text"  placeholder="请输入您的姓名"><!--消息错误加类h-->

            </div>
            <div class="p1">
                <label>手机号码：</label>
                <input class="tel" name="Phone" id="PhonePC" type="text"  placeholder="请输入您的手机号码">><!--消息错误加类h-->

            </div>
             <div class="p3">
                <em class="ml lpt_icon" onclick="chooseType(1);" value="jjtz"></em><span>降价通知</span>
                <em class="mlf lpt_icon" onclick="chooseType(2);" value="kptz"></em><span>开盘通知</span>
            </div>

            <input type="button" class="quick ts_linear cp tf" onclick="tuangouPC();" value="加入团购">
            </form>
        </div>
        <a class="newhouse_login_close ts_linear" onclick="shut();" title="关闭"><span></span></a>

    </div>
</div>
