<div  class="content-body">
	<div class="container">
		<div id="div1" class="content-left-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="left-title">
				<img src="/images/new_title.png">
			</div>
			<div class="active-list">
				<div class="one-active row">
					<div class="left-text col-xs-4 col-sm-4 col-md-4 col-lg-4">
						文字区域
					</div>
					<div class="right-img col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<img src='/images/one5.png'/>
						<div class="float-detail">活动介绍</div>
					</div>
				</div>
				<div class="one-active row">
					<div class="left-text col-xs-4 col-sm-4 col-md-4 col-lg-4">
						文字区域
					</div>
					<div class="right-img col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<img src='/images/one5.png'/>
						<div class="float-detail">活动介绍</div>
					</div>
				</div>
				<div class="one-active row">
					<div class="left-text col-xs-4 col-sm-4 col-md-4 col-lg-4">
						文字区域
					</div>
					<div class="right-img col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<img src='/images/one5.png'/>
						<div class="float-detail">活动介绍</div>
					</div>
				</div>
				<div class="one-active row">
					<div class="left-text col-xs-4 col-sm-4 col-md-4 col-lg-4">
						文字区域
					</div>
					<div class="right-img col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<img src='/images/one5.png'/>
						<div class="float-detail">活动介绍</div>
					</div>
				</div>
				<div class="one-active row">
					<div class="left-text col-xs-4 col-sm-4 col-md-4 col-lg-4">
						文字区域
					</div>
					<div class="right-img col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<img src='/images/one5.png'/>
						<div class="float-detail">活动介绍</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-right-block col-sm-4 col-md-4 col-lg-4">
			<div class="right-ad">
			广告
			</div>
			<div class="sys-message">
			公共
			</div>
			<div class="advance">
			预告
			</div>
		</div>
	</div>
</div>
<div class="bottom-pull-loading" style="text-align:center;background:#ff0000;display:none;">
	加载中........
</div>
<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
        <a class="qr"></a>
  	<div class="qr-popup">
    	<a class="code-link"><img class="code" src="/images/wx.jpg"/></a>
        <span>唯房会微信</span>
    <div class="arr"></div>
  </div>
  
</div>