<footer class="footer maincontent">
      <div class="container">
        <hr>
        <div class="footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.vfhui.com/news/37/关于我们" target="_blank">关于我们</a></li>
            </ul>
          <ul class="list-inline text-center">
            <li>COPYRIGHT 2016 VFH.COM All Rights Reserved.&nbsp;&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258680794'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1258680794%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></li>
          </ul>
          <ul class="list-inline2 text-center">
            <li>海南唯房会互联网房产营销策划有限公司  版权所有  </li>
          </ul>
          <ul class="list-inline5 text-center">
             <li><a href="http://www.miibeian.gov.cn/" target="_blank">琼ICP备16001112号</a> 客服电话：4008-606-181  </li>
          </ul>
          <ul class="list-inline4 text-center">
                <li></li>
          </ul>
          <ul class="list-inline3 text-center">
             <li>海南总部：海秀大道DC商业城2楼新区218室</li>
          </ul>

        </div>
      </div>
    </footer>