<footer class="footer maincontent">
      <div class="container">
        <hr>
        <div class="footer-bottom">
          <ul class="list-inline text-center">
            <li>COPYRIGHT 2016 VFH.COM All Rights Reserved.</li>
          </ul>
          <ul class="list-inline2 text-center">
            <li>海南唯房会互联网房产营销策划有限公司  版权所有  </li>
          </ul>
          <ul class="list-inline5 text-center">
             <li><a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备15069238号-2</a> 客服电话：4008-606-181  </li>
          </ul>
          <ul class="list-inline4 text-center">
                <li></li>
          </ul>
          <ul class="list-inline3 text-center">
             <li>海南总部：海秀大道DC商业城2楼新区218室</li>
          </ul>
          <ul class="list-inline3 text-center">
             <li>天津总部：天津市南开区科研西路12号407室  </li>
          </ul>
          <ul class="list-inline3 text-center">
             <li>深圳总部：深圳市前海深港合作区前湾一路1号A栋201室  </li>
          </ul>
        </div>
      </div>
    </footer>