block content
    div.topbar.maincontent
        div.topbar-head
            div.container
                div.row
                    div.col-xs-4.col-sm-4.col-md-8.col-lg-9
                        span.top_city_item(data-proid='460000') 海南

                    div.telephone1.col-xs-8.col-sm-4.col-md-4.col-lg-3  24小时免费客服热线：4008-606-181

        div.container
            div.toolbar.row
                div.col-sm-4.logobar.col-md-2.col-lg-2
                    a(href="/")
                        img.head-logo(src="/images/logo.png")
                div.small-top-ad.col-xs-0.col-sm-0.col-md-7.col-lg-6
                    img.head-static(src="/images/head-static.png")
    div#spig.spig
        div#message hi!我叫唯小宝，欢迎来到唯房会！
        div#mumu.mumu
    span#hitokoto.hitokoto Loading...
        div#hjsbox.hjsbox
  include ./nav.html