extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target=".navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.hidden-sm(href="http://www.bootcss.com" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])") 唯房会
			div.navbar-collapse.collapse(role="navigation")
				ul.nav.navbar-nav
					li.hidden-sm.hidden-md
						a(href="http://v2.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])") 首页
					li
						a(href="http://v3.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])") Bootstrap3中文文档
				ul.nav.navbar-nav.navbar-right.hidden-sm
					li
						a(href="#") 登录