block content
    div.topbar.maincontent

        div.container
            div.toolbar.row
                div.wx_logo
                    img.wx-logo(src="/images/sprite.png")
                div.col-sm-4.logobar.col-md-2.col-lg-2
                    a(href="/")
                        img.head-logo3(src="/images/sprite.png")
                div.small-top-ad.col-xs-0.col-sm-0.col-md-7.col-lg-6
                    img.head-static(src="/images/head-static.png")