block content
    div.topbar.maincontent
        div.topbar-head
            div.container
                div.test.row
                    div.col-xs-4.col-sm-4.col-md-8.col-lg-9
                        span.top_city_item(data-proid='460000') 海南
                    div.telephone1.col-xs-8.col-sm-4.col-md-4.col-lg-3  24小时免费客服热线：0898-32861405
        div.container
            div.toolbar.row
                div.wx_logo
                    img.wx-logo(src="/images/wx_logo.jpg")
                div.col-sm-4.logobar.col-md-2.col-lg-2
                    a(href="/")
                        img.head-logo(src="/images/logo2.png")
                div.small-top-ad.col-xs-0.col-sm-0.col-md-7.col-lg-6
                    img.head-static(src="/images/static.png")

  include ./nav.html