block content
    div.topbar.maincontent
        div.topbar-head
            div.container
                div.test.row
                    div.col-xs-6.col-sm-6.col-md-6.col-lg-7
                        span.top_city_item(data-proid='460000') 海南
                    div.telephone1.col-xs-6.col-sm-6.col-md-6.col-lg-5
                        if (remark != '0')
                            a(href="/users/login2") &nbsp;&nbsp;/&nbsp;&nbsp;登录
                            a(href="/users/register2")&nbsp;&nbsp; /&nbsp;&nbsp;注册
                            a(href="/users/wo")&nbsp;&nbsp; /&nbsp;&nbsp;我的帐户
                        if (remark == '0')
                           a(href="/users/wo") &nbsp;&nbsp;  您好， #{user_name}
                        &nbsp;&nbsp;/&nbsp;&nbsp;24小时免费客服热线：4008 520 213
        div.container
            div.toolbar.row
                div.wx_logo
                    img.wx-logo(src="/images/wx_logo.jpg")
                div.col-sm-4.logobar.col-md-2.col-lg-2
                    a(href="/")
                        img.head-logo(src="/images/logo.png")
                div.small-top-ad.col-xs-0.col-sm-0.col-md-7.col-lg-6
                    img.head-static(src="/images/head-static.png")

  include ./nav.html