extends layout

block content
	include ./head.jade
	include ./adblock.html
	include ./content.html
	include ./footer.html
	script( src='/javascripts/scroll.js')
	script( src='/javascripts/backtop.js')