doctype html
html
  head
    title !{title}
    meta(charset="UTF-8")
    meta(name="keywords", content="特价房,海南房产,海南地产,海南房地产,售楼处,售楼处电话,售楼处电话：0898-32875940,买房 ,新房,特价房源,便宜房")
    meta(name="description", content="唯房会是海南最具权威的房地产直销平台,平台特价房源均由房地产商直接发布,房源真实,价格优惠,平均比市场价低一到两个点,服务周到,安全可靠;为异地购房者提供免费购房咨询（4008-606-181）服务,免费专车接送机服务,免费接送看房服务；")
    meta(name="viewport", content="user-scalable=no, width=device-width")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')

    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script( src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')

    script( src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    //script( src='https://qiyukf.com/script/53fa4dc33ef409d480b8b2c8eb9b3c5e.js' defer async )
    //  script( src='/javascripts/spig.js')
    //script( src='//assets.kf5.com/supportbox/main.js' id='kf5-provide-supportBox' kf5-domain='vfh.kf5.com' )

    //script( src='/javascripts/jquery.min.js')
    //script( src='/javascripts/bootstrap.min.js')

    script( src='/javascripts/config.js')

  body
    block content
