doctype html
html
  head
    title !{title}
    meta(charset="UTF-8")
    meta(name="keywords", content="特价房,海南房产,海南地产,海南房地产,售楼处,售楼处电话,售楼处电话：0898-32875940,买房 ,新房,特价房源,便宜房")
    meta(name="description", content="唯房会是海南最具权威的房地产直销平台,平台特价房源均由房地产商直接发布,房源真实,价格优惠,平均比市场价低一到两个点,服务周到,安全可靠;为异地购房者提供免费购房咨询（4008-606-181）服务,免费专车接送机服务,免费接送看房服务；")
    meta(name="viewport", content="user-scalable=no, width=device-width")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')

    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script( src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script( src='/javascripts/spig.js')
    script( src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script( src='//assets.kf5.com/supportbox/main.js' id='kf5-provide-supportBox' kf5-domain='vfh.kf5.com' )
    //script( src='/javascripts/jquery.min.js')
    //script( src='/javascripts/bootstrap.min.js')
    script(type='text/javascript').
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?22d64a6414f666ab040acd632228d426";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();


      //初始化一言
      setTimeout("getkoto()",1000);
      //加载一言
      var t;
      function getkoto(){
        var hjs = document.createElement('script');
        hjs.setAttribute('id', 'hjs');
        hjs.setAttribute('src', 'http://api.hitokoto.us/rand?uid=3221&encode=jsc&fun=echokoto');
        document.getElementById("hjsbox").appendChild(hjs);
        t=setTimeout("getkoto()",2000);
      }
      //输出一言
      function echokoto(result){
        var hc = eval(result);
        //$("#hitokoto").fadeTo(300,0);
        document.getElementById("hitokoto").innerHTML = hc.hitokoto;
        //$("#hitokoto").fadeTo(300,0.75);
      }
    script( src='/javascripts/config.js')

  body
    block content
