doctype html
<script language=javascript>
var LiveAutoInvite0='您好，来自%IP%的朋友';
var LiveAutoInvite1='来自首页的对话';
var LiveAutoInvite2=' 网站商务通 主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
</script>
<script language="javascript" src="http://pyt.zoosnet.net/JS/LsJS.aspx?siteid=PYT33051940&float=1&lng=cn"></script>
html
    head
        title !{title}
        meta(charset="UTF-8")
        meta(name="keywords", content="特价房,海南房产,海南地产,海南房地产,售楼处,售楼处电话,售楼处电话：0898-32875940,买房 ,新房,特价房源,便宜房")
        meta(name="description", content="唯房会是海南最具权威的房地产直销平台,平台特价房源均由房地产商直接发布,房源真实,价格优惠,平均比市场价低一到两个点,服务周到,安全可靠;为异地购房者提供免费购房咨询（0898-32861406）服务,免费专车接送机服务,免费接送看房服务；")
        meta(name="viewport", content="user-scalable=no, width=device-width,initial-scale=1,maximum-scale=1.0")
        link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script( src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
        script( src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
        //script( src='https://qiyukf.com/script/53fa4dc33ef409d480b8b2c8eb9b3c5e.js' defer async )
        //  script( src='/javascripts/spig.js')
        //script( src='//assets.kf5.com/supportbox/main.js' id='kf5-provide-supportBox' kf5-domain='vfh.kf5.com' )
        //script( src='/javascripts/jquery.min.js')
        //script( src='/javascripts/bootstrap.min.js')
        script(type='text/javascript').
            var _hmt = _hmt || [];
            (function () {
                var browser = {
                    versions: function () {
                        var u = navigator.userAgent, app = navigator.appVersion;
                        return {//移动终端浏览器版本信息
                            trident: u.indexOf('Trident') > -1, //IE内核
                            presto: u.indexOf('Presto') > -1, //opera内核
                            webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                            gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                            mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                            ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                            android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                            iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                            iPad: u.indexOf('iPad') > -1, //是否iPad
                            webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                        };
                    }(),
                    language: (navigator.browserLanguage || navigator.language).toLowerCase()
                }
                var hm = document.createElement("script");
                if (browser.versions.mobile || browser.versions.ios || browser.versions.android ||
                        browser.versions.iPhone || browser.versions.iPad) {
                    hm.src = "//hm.baidu.com/hm.js?9b42c2cf8f0007b1b9d04c02e465dabc";
                } else {
                    hm.src = "//hm.baidu.com/hm.js?6e7d25dc5d74aa2e348a5bb2d511e408";
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();




        script( src='/javascripts/config.js')
        script( src='/javascripts/picturefill.js')
        script(type='text/javascript').
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?9b42c2cf8f0007b1b9d04c02e465dabc";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

    body
        block content
