<nav class="main-nav">
    <div class="head-inner">
        <ul class="main-nav-link J_main_nav_link clearfix">
            <li class=""><a href="/" class="current" mars_sead="home_header_channel_1">首页</a></li>
            <li class=""><a href="/news/newslist/1" class="" mars_sead="home_header_channel_2">购房攻略</a></li>
            <li class=""><a href="/map/map" class="" mars_sead="home_header_channel_2">地图找房</a></li>
            <!--
            <li class=""><a href="/" class="" mars_sead="home_header_channel_3">二手房</a></li>
            <li class=""><a href="/" class="" mars_sead="home_header_channel_4">租房</a></li>
            <li class=""><a href="http://rjs.com" class="" mars_sead="home_header_channel_5">唯房金融</a></li>
           <li class=""><a href="http://global.vip.com" class="" mars_sead="home_header_channel_6">唯品国际</a></li>
            <li class="main-nav-more J-navMore" data-hover="main-nav-more-hover" data-touch="selected">
                <span class="main-nav-more-tit"><i class="ico-main-nav-more"></i></span>
                <ul class="main-nav-more-cnt J-navMoreCnt"><li class=""><a href="https://jinrong.vip.com/?ep=ppingdaoye0115lc" class="" mars_sead="home_header_channel_7">唯品金融</a></li><li class=""><a href="http://trip.vip.com/?f=dh" class="" mars_sead="home_header_channel_8">旅行</a></li><li class=""><a href="http://act.vip.com/17818.html" class="" mars_sead="home_header_channel_9"><img src="http://b.appsimg.com/2016/04/21/956/1461232460560.png">明天上线</a></li><li class="nav-category"><a href="http://category.vip.com/" class="" mars_sead="home_header_channel_10"><img src="http://b.appsimg.com/2016/04/27/343/1461757494404.png">在售分类</a></li>

                </ul>
            </li>
            -->
        </ul>
    </div>

</nav>
<div class="header2">
    <div class="header_i"><a href="/"><img src="/images/m_banner.png" height="43"></a><span
            class="icon-my2"><a href="/index.php?g=user&amp;m=index&amp;a=index"><i></i>

        <p></p></a></span></div>
    <div class="search2" style="display: block;">
        <form target="_self" method="post" id="search_form" name="search_form" action="/findListBybname">
            <div class="csearch_wrap">
                <div class="choose_opts">
                    <div class="wrap">
                        <div class="pindao">
                            <ul>
                                <li onclick="choose_select('building','新房')">新房</li>
                                <li onclick="choose_select('sale','二手房')">二手房</li>
                                <li onclick="choose_select('hire','租房')">租房</li>
                                <li onclick="choose_select('asks','问答')">问答</li>
                                <li onclick="choose_select('suite','小区')">小区</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="csearch-input"><span class="choose_title"><font>新房</font>
                    <i class="icon-arrow"></i></span><input type="text" class="textInput" name="buildings_name"
                                                            id="buildings_name" placeholder="请输入楼盘名称" value=""><input
                        type="hidden" id="search_type" value="">

                    <input type="submit" id="search_submit" class="search-submit right">搜索</input>
                </div>
            </div>
            <div class="blank10"></div>
        </form>
    </div>
</div>