<nav class="main-nav">
    <div class="head-inner">
        <ul class="main-nav-link J_main_nav_link clearfix">
            <li class=""><a href="/" class="current" mars_sead="home_header_channel_1">首页</a></li>
            <li class=""><a href="/news/newslist/1" class="" mars_sead="home_header_channel_2">购房攻略</a></li>
            <!--
            <li class=""><a href="/" class="" mars_sead="home_header_channel_3">二手房</a></li>
            <li class=""><a href="/" class="" mars_sead="home_header_channel_4">租房</a></li>
            <li class=""><a href="http://rjs.com" class="" mars_sead="home_header_channel_5">唯房金融</a></li>
           <li class=""><a href="http://global.vip.com" class="" mars_sead="home_header_channel_6">唯品国际</a></li>
            <li class="main-nav-more J-navMore" data-hover="main-nav-more-hover" data-touch="selected">
                <span class="main-nav-more-tit"><i class="ico-main-nav-more"></i></span>
                <ul class="main-nav-more-cnt J-navMoreCnt"><li class=""><a href="https://jinrong.vip.com/?ep=ppingdaoye0115lc" class="" mars_sead="home_header_channel_7">唯品金融</a></li><li class=""><a href="http://trip.vip.com/?f=dh" class="" mars_sead="home_header_channel_8">旅行</a></li><li class=""><a href="http://act.vip.com/17818.html" class="" mars_sead="home_header_channel_9"><img src="http://b.appsimg.com/2016/04/21/956/1461232460560.png">明天上线</a></li><li class="nav-category"><a href="http://category.vip.com/" class="" mars_sead="home_header_channel_10"><img src="http://b.appsimg.com/2016/04/27/343/1461757494404.png">在售分类</a></li>

                </ul>
            </li>
            -->
        </ul>
    </div>
</nav>