<nav class="main-nav">
    <div class="head-inner">
        <ul class="main-nav-link J_main_nav_link clearfix">
            <li class="c1"><a href="/" class="" mars_sead="home_header_channel_1" id="bq1">首页（新房）</a></li>
            <li class="c3"><a href="/" class="" mars_sead="home_header_channel_2" id="bq7">海南房产</a></li>
            <li class="c3"><a href="/gx_index" class="" mars_sead="home_header_channel_2" id="bq8">广西房产</a></li>
            <li class="c3"><a href="/yn_index" class="" mars_sead="home_header_channel_2" id="bq9">云南房产</a></li>
            <li class="c2"><a href="/bieshu/bs_index" class="" mars_sead="home_header_channel_2" id="bq2">别墅总汇</a></li>
            <li class="c3"><a href="/map/map" class="" mars_sead="home_header_channel_2" id="bq3">地图找房</a></li>
            <li class="c4"><a href="/news/newslist/1" class="" mars_sead="home_header_channel_2" id="bq4">房产快讯</a></li>
            <li class="c5"><a href="/jinrong/jinrong" class="" mars_sead="home_header_channel_2" id="bq5">投资俱乐部</a></li>
            <li class="c6"><a href="/news/Aboutus" class="" mars_sead="home_header_channel_3" id="bq6">关于我们</a></li>
            <!--
            <li class=""><a href="/map/map" class="" mars_sead="home_header_channel_2">地图找房</a></li>
            <li class=""><a href="/" class="" mars_sead="home_header_channel_3">二手房</a></li>
            <li class=""><a href="/" class="" mars_sead="home_header_channel_4">租房</a></li>
            <li class=""><a href="http://rjs.com" class="" mars_sead="home_header_channel_5">唯房金融</a></li>
           <li class=""><a href="http://global.vip.com" class="" mars_sead="home_header_channel_6">唯品国际</a></li>
            <li class="main-nav-more J-navMore" data-hover="main-nav-more-hover" data-touch="selected">
                <span class="main-nav-more-tit"><i class="ico-main-nav-more"></i></span>
                <ul class="main-nav-more-cnt J-navMoreCnt"><li class=""><a href="https://jinrong.vip.com/?ep=ppingdaoye0115lc" class="" mars_sead="home_header_channel_7">唯品金融</a></li><li class=""><a href="http://trip.vip.com/?f=dh" class="" mars_sead="home_header_channel_8">旅行</a></li><li class=""><a href="http://act.vip.com/17818.html" class="" mars_sead="home_header_channel_9"><img src="http://b.appsimg.com/2016/04/21/956/1461232460560.png">明天上线</a></li><li class="nav-category"><a href="http://category.vip.com/" class="" mars_sead="home_header_channel_10"><img src="http://b.appsimg.com/2016/04/27/343/1461757494404.png">在售分类</a></li>

                </ul>
            </li>
            -->
        </ul>
    </div>

</nav>
<div class="header3">

    <div class="header_i"><a href="/"><img src="/images/hn_m_banner.png" height="43"></a><span
            class="icon-my2"> </span></div>
    <!--   <div class="search2" style="display: block;">

            <div class="csearch_wrap">
                <div class="choose_opts">
                    <div class="wrap">
                        <div class="pindao">
                            <ul>
                                <li onclick="choose_select('building','新房')">新房</li>
                                <li onclick="choose_select('sale','二手房')">二手房</li>
                                <li onclick="choose_select('hire','租房')">租房</li>
                                <li onclick="choose_select('asks','问答')">问答</li>
                                <li onclick="choose_select('suite','小区')">小区</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
              <div class="csearch-input"><span class="choose_title"><font>   <select onchange="window.location=this.value;">
                    <option value ="/" selected>海南</option>
                    <option value ="/gx_index">广西</option>
                    <option value="/yn_index">云南</option>

                </select></font>
                    <i class="icon-arrow"></i></span><input type="text" class="textInput keyword" name="buildings_name"
                                                            id="buildings_name" placeholder="请输入楼盘名称" value=""><input
                        type="hidden" id="search_type" value="">

                    <input type="submit" id="search_submit" class="search-submit right" onclick="submitFourm()">搜索</input>
                </div>
            </div>
            <div class="blank10 row"><select class="haveSelM1 col-xs-3 col-sm-3 col-md-3 col-lg-3" name="city_id" id="city_id" onchange="submiBtn()">
                <option value="111" selected="selected">区域</option>
                <option value="460100">海口市</option>
                <option value="460200">三亚市</option>
                <option value="460500">澄迈县</option>
                <option value="460400">琼海市</option>
                <option value="460600">文昌市</option>
                <option value="460220">儋州市</option>
                <option value="460160">保亭县</option>
                <option value="460700">万宁市</option>
                <option value="460300">东方市</option>
                <option value="460150">陵水市</option>
                <option value="460800">定安县</option>
                <option value="469000">屯昌县</option>
                <option value="460110">临高县</option>
                <option value="460120">白沙县</option>
                <option value="460130">昌江县</option>
                <option value="460140">乐东县</option>
                <option value="460700">兴隆镇</option>
            </select>

                <select class="haveSelM2 col-xs-3 col-sm-3 col-md-3 col-lg-3" name="active_price" id="active_price" onchange="submiBtn()">
                    <option value="222" selected="selected">价格</option>
                    <option value="4000">4000以下</option>
                    <option value="6000">4000-6000</option>
                    <option value="8000">6000-8000</option>
                    <option value="10000">8000-10000</option>
                    <option value="11000">10000以上</option>
                </select>
                <select class="haveSelM3 col-xs-3 col-sm-3 col-md-3 col-lg-3" name="acreage" id="acreage" onchange="submiBtn()">
                    <option value="333" selected="selected">面积</option>
                    <option value="50"> 50㎡以下</option>
                    <option value="70">50-70㎡</option>
                    <option value="90">70-90㎡</option>
                    <option value="110">90-110㎡</option>
                    <option value="150">110-150㎡</option>
                </select>
                <select class="haveSelM4 col-xs-3 col-sm-3 col-md-3 col-lg-3" name="shi" id="shi" onchange="submiBtn()">
                    <option value="444" selected="selected">户型</option>
                    <option value="1">一居</option>
                    <option value="2">二居</option>
                    <option value="3">三居</option>
                    <option value="4">四居</option>
                    <option value="5">五居居</option>
                    <option value="6">五居以上</option>
                </select></div>

    </div>  -->
</div>