<div class="header2">
    <div class="header_i"><a href="http://m.wofang.com"><img src="/Public/images/logo.png" height="43"></a><span
            class="icon-my2"><a href="/index.php?g=user&amp;m=index&amp;a=index"><i></i>

        <p>会员</p></a></span></div>
    <div class="search2" style="display: block;">

            <div class="csearch_wrap">
                <div class="choose_opts">
                    <div class="wrap">
                        <div class="pindao">
                            <ul>
                                <li onclick="choose_select('building','新房')">新房</li>
                                <li onclick="choose_select('sale','二手房')">二手房</li>
                                <li onclick="choose_select('hire','租房')">租房</li>
                                <li onclick="choose_select('asks','问答')">问答</li>
                                <li onclick="choose_select('suite','小区')">小区</li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="csearch-input"><span class="choose_title"><font>新房</font>
                    <i class="icon-arrow"></i></span><input type="text" class="textInput" name="keyword"
                                                            id="searchInput" placeholder="请输入查询关键字" value=""><input
                        type="hidden" id="search_type" value="">
                    <button type="button" id="search_submit" class="search-submit right" onclick="submitFourm_p()">搜索</button>
                </div>
            </div>
            <div class="blank10"></div>

    </div>
</div>