extends ../layout

block content

    include ../head.jade
    include demand.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/backtop.js')
    script( src='/javascripts/countTime.js')
    script( src='/javascripts/demand.js')
    script( src='/javascripts/jquery.form.js')