/*头部*/
.topbar-head{
	background:#f5f5f5;
	padding:5px 0px;
}
.top_city_item{
	cursor: pointer;
	display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background:#BFB8B8;
    color:#ffffff;
    margin-right:.2em;
}
.top_city_item:HOVER{
	color:#ffffff;
	background:#ff0000;
}
.top_city_item.active{
	color: #ffffff;
	background:#CE3367;
	cursor: default;
}
.head-logo{
	width:150px;
	height:65px;
}
	
.head-static{
	width:570px;
}

.top-query{
	padding:15px;
}
.query-btn{
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.carousel{
	margin-top:5px;
}
.footer{
	background:#f5f5f5;
}

/*首页内容区*/
.content-body{
	padding-top:20px;
	background:url('../images/content_bg.jpg') no-repeat #ffffff;
	content-body
}
.content-left-block{
	overflow:hidden;
}

.one-active{
	height:200px;
	border:solid 1px #ECE9E9;
	background:#ffffff;
	margin-bottom:10px;
	cursor: pointer;
}
.main_active_logo{
	padding:10px 0px;
}
.main_active_logo img{
	width:170px;
	height:60px;
}
.main_active_buildings_name{
	font-weight: bold;
	line-height:30px;	
}
.main_active_name span{
	vertical-align: middle;
	display:inline-block;
	line-height:20px;
}
.main_active_price span{
	vertical-align: middle;
	font-size:28px;
	font-weight: bolder;
	color:#ff0000;
}
.main_active_count_down span{
	vertical-align: middle;
}
.one-active:HOVER{
	border:solid 1px #ff0000;
}
.left-text{
	text-align: center;
}
.right-img{
	padding-right:0px;
}
.right-img img{
	display:block;
	width:100%;
	height:198px;
}
    
.right-img .float-detail{
    height: 26px;
    line-height: 25px;
    overflow: hidden;
    margin-top: -26px;
    padding:0px 14px;
    background: #000000;
    color: #fff;
    background-position: -650px -250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-image: url(../images/index_imgs.png);
    background-repeat: no-repeat;
    filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;
}
.content-right-block{
}
.sys-message{
	margin-left:0px;
	height:200px;
	background:#ffffff;
	border-top:solid 2px #CE3367;
	border-left:solid 1px #cccccc;
	border-right:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
}
.notice-title{
	
}
.notice-title .small-tab{
	display:inline-block;
	width:100%;
	text-align:center;
	font-size:16px;
	font-weight: bold;
	line-height:40px;
	background:#CE3367;
	color:#ffffff;
	cursor: pointer;
}
.notice-title .active{
	background:#ffffff;
	color:#CE3367;
	cursor: default;
}
.right-border{
	border-right:solid 1px #CE3367;
}
.right-ad{
	margin-top:10px;
	margin-left:0px;
	height:200px;
	background:#ffffff;
}

.advance{
	margin-left:0px;
	margin-top:10px;
	height:200px;
	background:#ffffff;
}
/*首页加载中*/
.bottom-pull-loading{
	color:#ffffff;
	line-height:30px;
	text-align:center;
	background:#ff0000;
	display:none;
	filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;
}
/*楼盘详情start*/
.module_detail_title{
	border-bottom:solid 2px #CE3367;
	border-top:solid 1px #f0f0f0;
	border-right:solid 1px #f0f0f0;
	border-left:solid 1px #f0f0f0;
	background:#f5f5f5;
}
.module_detail_title .title_label{
	color:#ffffff;
	display:inline-block;
	padding:5px 20px;
	background:#CE3367;
}
/*楼盘详情end*/
/*返回顶部样式start*/
#elevator_item {
	width: 60px;
	height: 100px;
	position: fixed;
	right: 15px;
	bottom: 15px;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	opacity: 1;
	z-index: 100020;
	display: none;
}
#elevator_item.off {
	opacity: 0;
	visibility: hidden
}
#elevator {
	display: block;
	width: 60px;
	height: 50px;
	background: url(/images/icon_top.png) center center no-repeat;
	background-color: #444;
	background-color: rgba(0,0,0,.6);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;
	margin-bottom: 10px
}
#elevator:hover {
	background-color: rgba(0,0,0,.7)
}
#elevator:active {
	background-color: rgba(0,0,0,.75)
}
#elevator_item .qr {
	display: block;
	width: 60px;
	height: 40px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;
	background: url(/images/icon_code.png) center center no-repeat;
	background-color: #444;
	background-color: rgba(0,0,0,.6)
}
#elevator_item .qr:hover {
	background-color: rgba(0,0,0,.7)
}
#elevator_item .qr:active {
	background-color: rgba(0,0,0,.75)
}
#elevator_item .qr-popup {
	width: 170px;
	height: 200px;
	background: #fff;
	box-shadow: 0 1px 8px rgba(0,0,0,.1);
	position: absolute;
	left: -180px;
	bottom: 0;
	border-radius: 2px;
	display: none;
	text-align: center
}
#elevator_item .qr-popup .code-link {
	display: block;
	margin: 10px;
	color: #777
}
#elevator_item .qr-popup .code {
	display: block;
	margin-bottom: 10px
}
#elevator_item .qr-popup .arr {
	width: 6px;
	height: 11px;
	background: url(/images/code_arrow.png) 0 0 no-repeat;
	position: absolute;
	right: -6px;
	bottom: 14px
}
/*返回顶部样式end*/
/*小图标start*/
.one_line{
	height:1px;
	width:100%;
	background:#f5f5f5;
	margin:10px 0px;
}
.ico_active_name{
	display:inline-block;
	vertical-align: middle;
	width: 22px;
    height: 18px;
    background: url(/images/background_new.png) -28px -100px no-repeat;
    margin-right:5px;
}
.ico_active_price{
	padding:1px 5px 1px 10px;
	font-size:10px;
	color:#ffffff;
	display:inline-block;
	vertical-align: middle;
    height: 18px;
    background: url(/images/background_new.png) -304px -100px no-repeat;
    margin-right:5px;
}
.ico_active_count_down{
	display:inline-block;
	vertical-align: middle;
	width: 22px;
    height: 18px;
    background: url(/images/background_new.png) -28px -80px no-repeat;
    margin-right:5px;
}
/*小图标end*/
/*响应区*/
@media screen and (max-width:992px){
	.container{width:100%;}
	.small-top-ad{
		display:none;
	}
}
@media screen and (max-width:768px){
	.toolbar{
		display:none;
		
	}
	.content-right-block{
		display:none;
	}
	.right-img{
		display:none;
	}
}