
	<div class="container">
		<div class="one_line col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">楼盘动态</span></div>
			<div class="module_detail_body row buildings_active_loading">
				<div class="loading-big"></div>
			</div>
			
			
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">基本信息</span></div>
			<div class="module_detail_body row buildings_base_loading">
				<div class="loading-big"></div>
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">户型图</span></div>
			<div class="module_detail_body row">
				<div class="loading-big"></div>
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">效果图</span></div>
			<div class="module_detail_body row">
				<div class="loading-big"></div>
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">地图周边</span></div>
			<div class="module_detail_body row">
				<div class="loading-big"></div>
			</div>
		</div>
		
	</div>
<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
        <a class="qr"></a>
  	<div class="qr-popup">
    	<a class="code-link"><img class="code" src="/images/wx.jpg"/></a>
        <span>唯房会公众号</span>
    <div class="arr"></div>
  </div>
  
</div>