
	<div class="container">
		<div class="one_line col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">楼盘首页</span></div>
			<div class="module_detail_body row">
				<div class="buildings_detail_price small_content col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<img src="/images/error.png" onerror="/images/error.png">
				</div>
				<div class="buildings_detail_ad small_content col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="main_active_logo"><img src="/images/logo.png"></div>
					<div class="main_active_buildings_name">博鳌·美丽熙海岸</div>
					<div class="main_active_name">
						<div class="ico_active_name"></div>
						<span>测试</span>
					</div>
					<div class="main_active_price">
						<div class="ico_active_price">限时特价</div>
						<span>4700</span>
					</div>
					<div class="main_active_count_down" data-time="1456848000000">
						<div class="ico_active_count_down"></div>
						<span>活动倒计时：6天04:28:35</span>
					</div>
				</div>
				
				<div class="buildings_detail_text col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<div class="text_label">楼盘地址:</div><div class="text_content"></div>
					<div class="text_label">主力户型:</div><div class="text_content"></div>
					<div class="text_label">开盘时间:</div><div class="text_content"></div>
					<div class="text_label">交房时间:</div><div class="text_content"></div>
					<div class="detail_phone"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp; 400-222-2222</div>
				</div>
			</div>
			
			
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">基本信息</span></div>
			<div class="module_detail_body row">
				<div class="base_message_img col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<img src="/images/one5.png">
				</div>
				<div class="base_message_text col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="base_content_line">占地面积：1890亩</div>
							<div class="base_content_line">总栋数：13栋</div>
							<div class="base_content_line">容积率：2</div>
							<div class="base_content_line">装修状况：精装修（含2000元/平精装）</div>
							<div class="base_content_line">停车位：1890个</div>
							<div class="base_content_line">主力户型：80平  95平 105平</div>
							<div class="base_content_line">楼层状况：暂无资料</div>
						</div>
					
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="base_content_line">建筑面积：5555亩</div>
							<div class="base_content_line">总套数：1890户</div>
							<div class="base_content_line">绿化率：43%</div>
							<div class="base_content_line">现房期房：现房</div>
							<div class="base_content_line">产权年限：70</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							楼盘简介：&nbsp;&nbsp;恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾恒大海口湾
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">户型图</span></div>
			<div class="module_detail_body row">
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">效果图</span></div>
			<div class="module_detail_body row">
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">地图周边</span></div>
			<div class="module_detail_body row">
			</div>
		</div>
		<div class="content_block col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="module_detail_title row"><span class="title_label">周边特价</span></div>
			<div class="module_detail_body row">
			</div>
		</div>
		
	</div>
<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
        <a class="qr"></a>
  	<div class="qr-popup">
    	<a class="code-link"><img class="code" src="/images/wx.jpg"/></a>
        <span>唯房会微信</span>
    <div class="arr"></div>
  </div>
  
</div>