extends ../layout

block content

    include ../head.jade
    include bs_adblock.html
    include bs_content.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/bs_index.js')
    script( src='/javascripts/bs_scroll.js')
    script( src='/javascripts/jquery.form.js')
   // script( src='/javascripts/countTime.js')
