<div id="ttt" class="mapp" onselectstart="return false;" style="height: 844px; witdh:800px; -moz-user-select:none;">

</div>

<!--城市列表-->

<div class="map_popup" id="cityList" style="display:none;">
    <div class="popup_main">
        <div class="title">城市列表</div>
        <div class="cityList" id="citylist_container"></div>
        <button id="popup_close"></button>
    </div>
</div>

<div class="mapL">
    <div class="mapLT">
        <div class="mapLTT clearfix">
            <div class="mapSea w_360" id="suggestId"><input placeholder="请输入关键字（楼盘名)" type="text" id="xfmap_E01_46"
                                                            style="color: rgb(153, 153, 153);"
                                                            value="请输入关键字（楼盘名)" onfocus="if (value =='请输入关键字（楼盘名)'){value =''}" onblur="if (value ==''){value='请输入关键字（楼盘名）'}"><a id="xfmap_E01_06" onclick="submitFourm();"></a>

            </div>


            <select class="haveSelM1_m" name="city_id" id="city_id" onchange="submiBtn_m()">
                <option value="111" selected="selected">区域</option>
                <option value="460100">海口市</option>
                <option value="460200">三亚市</option>
                <option value="460500">澄迈县</option>
                <option value="460400">琼海市</option>
                <option value="460600">文昌市</option>
                <option value="460220">儋州市</option>
                <option value="460160">保亭县</option>
                <option value="460700">万宁市</option>
                <option value="460300">东方市</option>
                <option value="460800">定安县</option>
                <option value="469000">屯昌县</option>
                <option value="460110">临高县</option>
                <option value="460120">白沙县</option>
                <option value="460130">昌江县</option>
                <option value="460140">乐东县</option>
                <option value="460700">兴隆镇</option>
            </select>

            <select class="haveSelM2_m" name="active_price" id="active_price" onchange="submiBtn_m()">
                <option value="222" selected="selected">价格</option>
                <option value="4000">4000以下</option>
                <option value="6000">4000-6000</option>
                <option value="8000">6000-8000</option>
                <option value="10000">8000-100000</option>
                <option value="11000">100000以上</option>
            </select>
            <select class="haveSelM3_m" name="acreage" id="acreage" onchange="submiBtn_m()">
                <option value="333" selected="selected">面积</option>
                <option value="50"> 50㎡以下</option>
                <option value="70">50-70㎡</option>
                <option value="90">70-90㎡</option>
                <option value="110">90-110㎡</option>
                <option value="150">110-150㎡</option>
            </select>
            <select class="haveSelM4_m" name="shi" id="shi" onchange="submiBtn_m()">
                <option value="444" selected="selected">户型</option>
                <option value="1">一居</option>
                <option value="2">二居</option>
                <option value="3">三居</option>
                <option value="4">四居</option>
                <option value="5">五居居</option>
                <option value="6">五居以上</option>
            </select>


        </div>


        <script type="text/javascript"
                src="http://api.map.baidu.com/api?v=2.0&ak=lR8YgG9kxGWrpjNgVQgxgqi0OVyNpAIh"></script>
        <!-- 加载百度地图样式信息窗口 -->
        <script type="text/javascript"
                src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
        <link rel="stylesheet"
              href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>
        <!-- 加载城市列表 -->
        <script type="text/javascript" src="http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js"></script>
        <script type="text/javascript"
                src="http://api.map.baidu.com/library/RichMarker/1.2/src/RichMarker_min.js"></script>
        <script type="text/javascript">
            var map = new BMap.Map("ttt");          // 创建地图实例
            var point = new BMap.Point(110.301567, 20.013559);  // 创建点坐标
            map.centerAndZoom(point, 12);                 // 初始化地图，设置中心点坐标和地图级别
            map.enableScrollWheelZoom();
            map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件



            function submiBtn_m() {

                value = $("#loupanText").val();
                if (value == "" || value == "请输入关键字（楼盘名）") {
                    alert("请输入楼盘名称");
                } else {
                    // 根据条件 设置中心坐标
                    var city_id = $(".haveSelM1_m").val();

                    if (city_id == '460100') {
                        x = "110.299848";
                        y = "20.021123";
                    } else if (city_id == '460200') {
                        var x = "109.516346";
                        var y = "18.257942";
                    } else if (city_id == '460500') {
                        var x = "110.012617";
                        var y = "19.741514";
                    } else if (city_id == '460400') {
                        var x = "110.485375";
                        var y = "19.262427";
                    } else if (city_id == '460600') {
                        var x = "110.808991";
                        var y = "19.741514";
                    } else if (city_id == '460700') {
                        var x = "110.397725";
                        var y = "18.801295";
                    } else if (city_id == '460300') {
                        var x = "108.658514";
                        var y = "19.103064";
                    } else if (city_id == '460800') {
                        var x = "110.36612";
                        var y = "19.686898";
                    } else if (city_id == '469000') {
                        var x = "110.111197";
                        var y = "19.357635";
                    } else if (city_id == '460100') {
                        var x = "109.697787";
                        var y = "19.918299";
                    } else if (city_id == '460120') {
                        var x = "109.457711";
                        var y = "19.231907";
                    } else if (city_id == '460130') {
                        var x = "109.06263";
                        var y = "19.304712";
                    } else if (city_id == '460140') {
                        var x = "109.179257";
                        var y = "18.756883";
                    } else if (city_id == '460700') {
                        var x = "110.233622";
                        var y = "18.751916";
                    } else {
                        x = "110.299848";
                        y = "20.021123";
                    }
                    map.centerAndZoom(new BMap.Point(x, y), 12);
                    map.clearOverlays();

                    // $("#loupanNum").html(icon);
                    var sortName = $("#sortName").val();
                    var sortType = $("#sortType").val();

                    var bs = map.getBounds();   //获取可视区域
                    var bssw = bs.getSouthWest();   //可视区域左下角
                    var bsne = bs.getNorthEast();   //可视区域右上角

                    var active_price = $(".haveSelM2_m").val();
                    var acreage = $(".haveSelM3_m").val();
                    var shi = $(".haveSelM4_m").val();

                    params = {
                        proId: proId,
                        city_id: city_id,
                        active_price: active_price,
                        acreage: acreage,
                        shi: shi
                    }
                    ajaxGet("get", URLMAP.findListByselect, params, function (data) {

                        if (data.statusCode == "0000") {

                            //var obj = data;
                            //alert("Data Loaded: " + obj.status);
                            //先清空左侧buildingList
                            listDate = data.data;
                            $.each(listDate, function (i, n) {

                                biaozhu(n);

                            });

                        } else {
                            $(".bottom-pull-loading").html("宝贝儿，出错啦，联系客服再试试哦！");
                            setTimeout(function () {
                                $(".bottom-pull-loading").hide();
                            }, 3000);
                        }
                        loading = false;
                    });
                }
            }


            //富标注函数
            function biaozhu(n) {

                myRichMarker = new BMapLib.RichMarker('<p class="my_marker icon3" id="m' + n.id + '"><span>' + n.buildings_name + '&nbsp;' + n.active_price + '元/㎡</span></div></span></p>', new BMap.Point(n.map_x, n.map_y), {
                    "anchor": new BMap.Size(-12, -38),
                    "enableDragging": false
                });
                //标注点击事件
                myRichMarker.addEventListener("onclick", function (e) {
                    myInfo(n);
                });
                myRichMarker.addEventListener("onmouseover", function (e) {
                    $("#m" + n.id).addClass("hover");
                    $("#m" + n.id).parent("div").css("z-index", 99999);
                });
                myRichMarker.addEventListener("onmouseout", function (e) {
                    //document.getElementById("rm3_image").src = "http://1.com/Public/images/icon.png";
                    //alert(222);
                    $("#m" + n.id).removeClass("hover");
                    $("#m" + n.id).parent("div").css("z-index", 0);
                });

                map.addOverlay(myRichMarker);

            }

            //弹出信息框
            function myInfo(n) {
                //changeCookie(n);
                var marker = new BMap.Marker(new BMap.Point(n.mapLng, n.mapLat));
                var sContent = '<div class="t_box"><div class="boxt"><h3 class="all366C"> <a target="_blank" href="/buildings/'+n.id+'/460000/'+n.ac_id+'/'+n.buildings_name+'">' + n.buildings_name + '</a></h3>&nbsp;<img src="../images/shou3.gif" width="49" height="19" /></div><div class="boxm"><div class="m1"><div class="txt"><ul><li><em>楼盘类型：</em>' + n.buildings_name + '</li><em>最新特价：</em><li>' + n.active_price + '元/平米</li><li><em>咨询热线：</em><i>' + n.server_phone_num + '</i></li><li><em>楼盘地址：</em> ' + n.address + '</li></ul></div></div></div>';

                //var opt = {
//	 offset:new BMap.Size(-5, -28),
//	};
                var opts = {
                    offset: new BMap.Size(-5, -28)
                }
                var infoWindow = new BMap.InfoWindow(sContent, opts); // 创建信息窗口对象
                map.openInfoWindow(infoWindow, new BMap.Point(n.map_x, n.map_y)); // 打开信息窗口

            }
            //楼盘搜索-单个标注
            function submitFourm(){
                map.clearOverlays();
               var buildings_name = $("#xfmap_E01_46").val();
                //alert(buildings_name);
                if($.trim(buildings_name)=="请输入关键字（楼盘名)"){

                    buildings_name="";

                }
               // alert(buildings_name);
                params = {
                    buildings_name: buildings_name
                }
                ajaxGet("get", URLMAP.findListByselect, params, function (data) {

                    if (data.statusCode == "0000") {

                        //var obj = data;
                        //alert("Data Loaded: " + obj.status);
                        //先清空左侧buildingList
                        listDate = data.data;
                        $.each(listDate, function (i, n) {

                            biaozhu(n);

                        });

                    } else {
                        $(".bottom-pull-loading").html("宝贝儿，出错啦，联系客服再试试哦！");
                        setTimeout(function () {
                            $(".bottom-pull-loading").hide();
                        }, 3000);
                    }
                    loading = false;
                });
            }

            var winhetght = $(window).height();
            var winwidth = $(window).width();

            $(".mapp").css("height", winhetght);
            $(".mapp").css("width", winwidth);
        </script>