<header class="header">

    <div class="left">
        <a href="javascript:history.back(-1);" class="head-icon red-txt red-f7">&lt;</a>

    </div>

    <div class="clear"></div>
</header>
<div class="container flow">
    <div class="client-info">
        <div class="head-info">

        </div>
        <div class="client-follow-up bg-fff">
            <div class="head clearFix">

            </div>

        </div>

    </div>
    <div class="commission-list">
        <ul id="customerList2">

        </ul>
    </div>
</div>
