extends ../gy_layout

block content

    input#id(type="hidden",value="#{id}")
    include gy_road.html
    script( src='/javascripts/gy_road.js')
    script( src='/javascripts/head.js')
    script( src='/javascripts/jquery.form.js')




