<div class="regSingle">
    <div class=" layout">
        <div class="header2" passport_mars_sead_hover="">
            <a href="http://www.vip.com?ff=125|2|1|14" class="logo sprite" id="for-cascade-login-link"></a>
            <div class="bannerHeader sprite"></div>
            <div class="u-ad-header J-ads" data-adsid="ADSBAZW9" data-tpl="#J-ADSBAZW9-tpl"></div>
            <script id="J-ADSBAZW9-tpl" type="text/html"><img src="{{ img }}" width="445" height="30" alt="{{ name }}"></script>
        </div>
        <div class="content J-ads clear" data-adsid="ADS9757C" data-bg="true" style="background-image: url(../images/ls.jpg);">
            <div class="regForm">
                <input type="hidden" name="vipc" value="b09a6fa1ba3446698d818ffc82be4f28">
                <div class="regHeaderTip">
				<span class="fl">
				欢迎回来！请登录
				</span>
                    <span class="fr f12" passport_mars_sead_hover=""><a href="/users/register2" class="red hvLine" id="J_normal_loginlink">免费注册</a></span>
                </div>
                <div id="reg-form-wrapper">
                    <div class="ui-tips-big ui-tips1 hidden">
                        <i class="vipFont if-sigh"></i>
                        <a href="javascript:;" role="button" class="close">×</a>
                        <p class="info"><i class="vipFont if-sigh"></i><span class="info-msg"></span></p>
                    </div>
                    <form id="loginForm" action="/users/login2" method="post" >

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                                <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="text" class="ui-input ipt-phone" id="userName" name="userName" placeholder="请输入手机号码" passport_mars_sead_hover="" passport_mars_sead_input="mobileRegMobile" mars_sead="125|2|1|2">
                            </div>
                        </div>

                        <div class="control-group clearfix">
                            <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                                <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="password" class="ui-input" id="passWord" name="passWord" maxlength="20" placeholder="密码由6-20位字母，数字和符号组合" passport_mars_sead_hover="" passport_mars_sead_input="mobileRegPw" mars_sead="125|2|1|5">
                            </div>
                        </div>



                        <!--    <div class="control-group clearfix">
                              <div class="ui-form-item-group adjust-success"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div>
                                  <div class="ui-tooltips ui-tooltips-info ui-tooltips-bottom-left-arrow custom-tooltips-info">
                                      <div class="ui-tooltips-arrow">
                                          <i class="arrow arrow-out">◆</i>
                                          <i class="arrow">◆</i>
                                      </div>
                                      <div class="ui-tooltips-content">
                                          <p class="validator-msg"></p>
                                      </div>
                                  </div>
                               <i class="ui-input-success vipFont if-success" style="display: none;"></i><input id="J_mobile_code" type="text" class="ui-input ipt-verify-code" name="pvcode" placeholder="短信验证码" passport_mars_sead_hover="" passport_mars_sead_input="mobileRegMobileCode" mars_sead="125|2|1|8"><a href="javascript:;" role="button" id="J_mobile_verifycode_btn" class="ui-btn-medium ui-btn-disable btn-verify-code" passport_mars_sead_hover="" mars_sead="125|2|1|7">获取验证码</a>
                            </div>
                        </div> -->
                        <div class="control-group mb30 clearfix">
                            <a href="javascript:;" role="button" id="J_mobile_reg_button" class="ui-btn-large ui-btn-primary ui-btn-loading reg-form-btn form-submit" onclick="onClik123()">
                                <span class="ui-btn-loading-before">登录</span>

                            </a>
                            <!--  <a href="javascript:;" class="entrance-link reg-form-link" id="J_mobile_to_email" passport_mars_sead_hover="" mars_sead="125|2|1|10">通过邮箱注册</a> -->
                        </div>
                        <div class="hedden" style=""> </div>
                        <!--   <div class="control-group clearfix">
                               <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div>
                           <span class="ui-checkbox mr0">
                               <input type="checkbox" id="J_mobile_agree" name="agree" class="ui-checkbox-normal" value="1" mars_sead="125|2|1|11"><label for="J_mobile_agree" class="ui-checkbox-simulation"></label>
                           </span>
                                   <label for="J_mobile_agree" class="ui-label f-12">我已阅读并接受<a href="http://support.vip.com/clause/?ff=125|2|1|12" class="red" target="_blank" id="J_mobile_provision">《唯品会服务条款》</a>、<a href="http://support.vip.com/privacy/" class="red" target="_blank">《隐私条款》</a>等</label>
                               </div>
                           </div> -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- 手机端-->

<div class="page">
    <header class="header">

        <div class="left">
            <a href="javascript:history.back(-1);" class="head-icon red-txt red-f7">&lt;</a>

        </div>
        <div class="cent">
            <span>登录</span>
        </div>
        <div class="head-icon red-txt">
            <a href="/users/register" class="red-f6">注册</a>

        </div>
        <div class="clear"></div>
    </header>
    <div class="main">
        <div class="pdX20">
            <form method="post" action="/users/login" id="loginForm">
                <section class="mt35">
                    <ul class="uc-login">
                        <li>
                            <div class="tit">账<i></i>号</div>
                            <div class="input-box">
                                <a href="javascript:;" class="btn-del" id="clearusername" style="display:none;"></a>
                                <input type="text" placeholder="手机号" name="userName" id="userName">
                            </div>
                        </li>
                        <li>
                            <div class="tit">密<i></i>码</div>
                            <div class="input-box mr72">
                                <a href="javascript:;" class="btn-del" id="clearpassword" style="display:none;"></a>
                                <input type="password" maxlength="16" placeholder="请输入密码" onpaste="return false" id="passWord" name="passWord">
                                <div class="on-off"><span class="sf-turnChange hide" id="switchPwd"><i></i>abc</span></div><!--加hide，另一种状态-->
                            </div>
                        </li>
                    </ul>
                </section>
                <!--以下登录按钮不可点击状态为class="btn-login"可点击状态为class="btn-login click"-->
                <div class="mt25"><a href="javascript:void(0);" class="btn-login click" id="btnLogin" onclick="onClik123()">登 录</a></div>
                <div class="hedden" style=""> </div>
            </form>
            <div class="f13 mt20">
                <a id="loginByCode" href="javascript:;" hrefdata="/passport/mobilelogin.aspx?Burl=%2f%2fm.fang.com%2fmy%2fbj%2fmyesfsale%2f%3futm_source%3dhuodong1%26utm_term%3dweixin" class="flor gray-8">验证码登录</a>

                <a href="/passport/resetpassword.aspx?Burl=/passport/login.aspx&BurlType=2" class="gray-8">找回密码</a>
            </div>
        </div>
        <!--     <div class="other-login">
                 <div class="title">
                     <span>客服</span>
                 </div>
                 <div class="flexbox pdX20">
                     <a id="qqlogin" href="/passport/qqlogin.aspx?Service=soufun-wap-wap&amp;backurl=%2f%2fm.fang.com%2fmy%2fbj%2fmyesfsale%2f%3futm_source%3dhuodong1%26utm_term%3dweixin" ;><i class="qq"></i><br />QQ</a>
                     <a id="sinalogin" href="/passport/weibologin.aspx?Service=soufun-wap-wap&amp;backurl=%2f%2fm.fang.com%2fmy%2fbj%2fmyesfsale%2f%3futm_source%3dhuodong1%26utm_term%3dweixin;"><i class="wb"></i><br />微博</a>
                 </div>


             </div>
         </div>
         -->
    </div>
    <!--登录失败提示框-->
    <div id="sendFloat" class="tz-box" style="display: none; ">
        <div id="mathCode" class="tz-con" style="display: none; ">
            <ul class="ipt-list">
                <li class="mt20">
                    <div class="flexbox">
                        <input type="tel" class="ipt-text vcode " placeholder="请输入右侧验证码" id="verifyCode">
                        <img class="yzm" src="https://Captcha.fang.com/Display?type=wap&width=150&height=80&r=" id="verify">
                    </div>
                </li>
            </ul>
            <div class="tz-btn flexbox">
                <input id="closeMathCode" type="button" value="取消">
                <input id="qd" type="button" value="确定" style="background-color :#df3031">
            </div>
        </div>
        <div id="sendText" class="yzm-sta" style="display: none;">请输入手机号或密码</div>
        <div id="sendText2" class="yzm-sta" style="display: none;">用户名或密码错误</div>
    </div>

</div>