



<div class="page">
    <header class="header">

        <div class="left">
            <a href="javascript:history.back(-1);" class="head-icon red-txt red-f7">&lt;</a>

        </div>
        <div class="cent">
            <span>登录</span>
        </div>
        <div class="head-icon red-txt">
            <a href="/users/register" class="red-f6">注册</a>

        </div>
        <div class="clear"></div>
    </header>
    <div class="main">
        <div class="pdX20">
            <form method="post" action="/users/login" id="loginForm">
                <section class="mt35">
                    <ul class="uc-login">
                        <li>
                            <div class="tit">账<i></i>号</div>
                            <div class="input-box">
                                <a href="javascript:;" class="btn-del" id="clearusername" style="display:none;"></a>
                                <input type="text" placeholder="手机号" name="userName" id="userName">
                            </div>
                        </li>
                        <li>
                            <div class="tit">密<i></i>码</div>
                            <div class="input-box mr72">
                                <a href="javascript:;" class="btn-del" id="clearpassword" style="display:none;"></a>
                                <input type="password" maxlength="16" placeholder="请输入密码" onpaste="return false" id="passWord" name="passWord">
                                <div class="on-off"><span class="sf-turnChange hide" id="switchPwd"><i></i>abc</span></div><!--加hide，另一种状态-->
                            </div>
                        </li>
                    </ul>
                </section>
                <!--以下登录按钮不可点击状态为class="btn-login"可点击状态为class="btn-login click"-->
                <div class="mt25"><a href="javascript:void(0);" class="btn-login click" id="btnLogin" onclick="onClik123()">登 录</a></div>
           <div class="hedden" style=""> </div>
            </form>
            <div class="f13 mt20">
                <!-- <a id="loginByCode" href="javascript:;" hrefdata="/passport/mobilelogin.aspx?Burl=%2f%2fm.fang.com%2fmy%2fbj%2fmyesfsale%2f%3futm_source%3dhuodong1%26utm_term%3dweixin" class="flor gray-8">验证码登录</a> -->

                 <a href="" class="gray-8">找回密码</a>
             </div>
         </div>
    <!--     <div class="other-login">
             <div class="title">
                 <span>客服</span>
             </div>
             <div class="flexbox pdX20">
                 <a id="qqlogin" href="/passport/qqlogin.aspx?Service=soufun-wap-wap&amp;backurl=%2f%2fm.fang.com%2fmy%2fbj%2fmyesfsale%2f%3futm_source%3dhuodong1%26utm_term%3dweixin" ;><i class="qq"></i><br />QQ</a>
                 <a id="sinalogin" href="/passport/weibologin.aspx?Service=soufun-wap-wap&amp;backurl=%2f%2fm.fang.com%2fmy%2fbj%2fmyesfsale%2f%3futm_source%3dhuodong1%26utm_term%3dweixin;"><i class="wb"></i><br />微博</a>
             </div>


         </div>
     </div>
     -->
</div>
<!--登录失败提示框-->
<div id="sendFloat" class="tz-box" style="display: none; ">
    <div id="mathCode" class="tz-con" style="display: none; ">
        <ul class="ipt-list">
            <li class="mt20">
                <div class="flexbox">
                    <input type="tel" class="ipt-text vcode " placeholder="请输入右侧验证码" id="verifyCode">
                    <img class="yzm" src="https://Captcha.fang.com/Display?type=wap&width=150&height=80&r=" id="verify">
                </div>
            </li>
        </ul>
        <div class="tz-btn flexbox">
            <input id="closeMathCode" type="button" value="取消">
            <input id="qd" type="button" value="确定" style="background-color :#df3031">
        </div>
    </div>
    <div id="sendText" class="yzm-sta" style="display: none;">请输入手机号或密码</div>
    <div id="sendText2" class="yzm-sta" style="display: none;">用户名或密码错误</div>
</div>

</div>