<div class="regSingle">
<div class=" layout">
    <div class="header2" passport_mars_sead_hover="">
        <a href="http://www.vip.com?ff=125|2|1|14" class="logo sprite" id="for-cascade-login-link"></a>
        <div class="bannerHeader sprite"></div>
        <div class="u-ad-header J-ads" data-adsid="ADSBAZW9" data-tpl="#J-ADSBAZW9-tpl"></div>
        <script id="J-ADSBAZW9-tpl" type="text/html"><img src="{{ img }}" width="445" height="30" alt="{{ name }}"></script>
    </div>
    <div class="content J-ads clear" data-adsid="ADS9757C" data-bg="true" style="background-image:  url(../images/ls.jpg);">
        <div class="regForm">

            <div class="regHeaderTip">
				<span class="fl">
				欢迎注册
				</span>
                <span class="fr f12" passport_mars_sead_hover="">已注册可<a href="/users/login2" class="red hvLine" id="J_normal_loginlink">直接登录</a></span>
            </div>
            <div id="reg-form-wrapper">
                <div class="ui-tips-big ui-tips1 hidden">
                    <i class="vipFont if-sigh"></i>
                    <a href="javascript:;" role="button" class="close">×</a>
                    <p class="info"><i class="vipFont if-sigh"></i><span class="info-msg"></span></p>
                </div>
                <form  id="registerPage" method="post" action="/users/login">
                    <input type="hidden" name="remark" value="0">
                    <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                            <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="text" class="ui-input ipt-phone" id="user_name" name="user_name" placeholder="请输入手机号码" passport_mars_sead_hover="" passport_mars_sead_input="mobileRegMobile" mars_sead="125|2|1|2">
                        </div>
                    </div>

                    <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                            <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="password" class="ui-input" id="password" name="password" maxlength="20" placeholder="密码由6-20位字母，数字和符号组合" passport_mars_sead_hover="" passport_mars_sead_input="mobileRegPw" mars_sead="125|2|1|5">
                        </div>
                    </div>

                    <!--    <div class="control-group clearfix">
                          <div class="ui-form-item-group adjust-success"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div>
                              <div class="ui-tooltips ui-tooltips-info ui-tooltips-bottom-left-arrow custom-tooltips-info">
                                  <div class="ui-tooltips-arrow">
                                      <i class="arrow arrow-out">◆</i>
                                      <i class="arrow">◆</i>
                                  </div>
                                  <div class="ui-tooltips-content">
                                      <p class="validator-msg"></p>
                                  </div>
                              </div>
                           <i class="ui-input-success vipFont if-success" style="display: none;"></i><input id="J_mobile_code" type="text" class="ui-input ipt-verify-code" name="pvcode" placeholder="短信验证码" passport_mars_sead_hover="" passport_mars_sead_input="mobileRegMobileCode" mars_sead="125|2|1|8"><a href="javascript:;" role="button" id="J_mobile_verifycode_btn" class="ui-btn-medium ui-btn-disable btn-verify-code" passport_mars_sead_hover="" mars_sead="125|2|1|7">获取验证码</a>
                        </div>
                    </div> -->
                    <div class="control-group mb30 clearfix">
                        <a href="javascript:;" role="button" id="J_mobile_reg_button" class="ui-btn-large ui-btn-primary ui-btn-loading reg-form-btn form-submit" onclick="onClikWfh()">
                            <span class="ui-btn-loading-before">立即注册</span>
                            <span class="ui-btn-loading-after"><i class="ii-loading-gray-16x16"></i><span class="ui-btn-txt">处理中...</span></span>
                        </a>
                      <!--  <a href="javascript:;" class="entrance-link reg-form-link" id="J_mobile_to_email" passport_mars_sead_hover="" mars_sead="125|2|1|10">通过邮箱注册</a> -->
                    </div>
                 <!--   <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div>
			        <span class="ui-checkbox mr0">
			            <input type="checkbox" id="J_mobile_agree" name="agree" class="ui-checkbox-normal" value="1" mars_sead="125|2|1|11"><label for="J_mobile_agree" class="ui-checkbox-simulation"></label>
			        </span>
                            <label for="J_mobile_agree" class="ui-label f-12">我已阅读并接受<a href="http://support.vip.com/clause/?ff=125|2|1|12" class="red" target="_blank" id="J_mobile_provision">《唯品会服务条款》</a>、<a href="http://support.vip.com/privacy/" class="red" target="_blank">《隐私条款》</a>等</label>
                        </div>
                    </div> -->
                </form>
                <form id="reg_email_form" action="/register" method="post" autocomplete="off" class="register-form hidden">
                    <input type="hidden" name="remark" value="0">
                    <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                            <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="text" class="ui-input" id="user_name" name="user_name" placeholder="请输入邮箱账号" passport_mars_sead_hover="" passport_mars_sead_input="emailRegEmail" mars_sead="125|2|2|2">
                        </div>
                    </div>


                    <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                            <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="password" class="ui-input" id="password" name="password" maxlength="20" placeholder="密码由6-20位字母，数字和符号组合" passport_mars_sead_hover="" passport_mars_sead_input="emailRegPw" mars_sead="125|2|2|5">
                        </div>
                    </div>
                    <div class="pure-control-group ml85">
                        <div class="strength-indicator">
                            <span class="indicator-item section-weak"></span>
                            <span class="indicator-item section-medium"></span>
                            <span class="indicator-item section-strong"></span>
                            <span class="indicator-text text-weak">弱</span>
                            <span class="indicator-text text-medium">中</span>
                            <span class="indicator-text text-strong">强</span>
                        </div>
                    </div>




                    <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div><div class="ui-tooltips ui-tooltips-info validator-tooltips-info ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="validator-msg"></p></div></div>
                            <i class="ui-input-success vipFont if-success" style="display: none;"></i><input type="text" class="ui-input ipt-phone" id="J_email_mobile" name="verified" placeholder="请输入手机号码" passport_mars_sead_hover="" passport_mars_sead_input="emailRegMobile" mars_sead="125|2|2|7">
                        </div>
                    </div>


                    <div class="control-group clearfix">
                        <div class="ui-form-item-group adjust-success"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div>
                            <div class="ui-tooltips ui-tooltips-info ui-tooltips-bottom-left-arrow custom-tooltips-info">
                                <div class="ui-tooltips-arrow">
                                    <i class="arrow arrow-out">◆</i>
                                    <i class="arrow">◆</i>
                                </div>
                                <div class="ui-tooltips-content">
                                    <p class="validator-msg"></p>
                                </div>
                            </div>
                            <i class="ui-input-success vipFont if-success" style="display: none;"></i><input id="J_email_code" type="text" class="ui-input ipt-verify-code" name="pvcode" placeholder="短信验证码" passport_mars_sead_hover="" passport_mars_sead_input="emailRegMobileCode" mars_sead="125|2|2|9"><a href="javascript:;" role="button" id="J_email_verifycode_btn" class="ui-btn-medium ui-btn-disable btn-verify-code" passport_mars_sead_hover="" mars_sead="125|2|2|8">获取验证码</a>
                        </div>
                    </div>
                    <div class="control-group mb30 clearfix">
                        <a href="javascript:;" role="button" id="J_email_reg_button" class="ui-btn-large ui-btn-primary ui-btn-loading reg-form-btn form-submit" onclick="onClikWfh()">
                            <span class="ui-btn-loading-before" passport_mars_sead_hover="">立即注册</span>
                            <span class="ui-btn-loading-after"><i class="ii-loading-gray-16x16"></i><span class="ui-btn-txt">处理中...</span></span>
                        </a>
                        <a href="javascript:;" class="entrance-link reg-form-link" id="J_email_to_mobile" passport_mars_sead_hover="" mars_sead="125|2|2|11">手机快速注册</a>
                    </div>
                    <div class="control-group clearfix">
                        <div class="ui-form-item-group"><div class="ui-tooltips ui-tooltips-warning validator-tooltips-warning ui-tooltips-bottom-left-arrow"><div class="ui-tooltips-arrow"><i class="arrow arrow-out">◆</i><i class="arrow">◆</i></div><div class="ui-tooltips-content"><p class="ui-tooltips-msg validator-msg"><i class="vipFont if-sigh"></i></p></div></div>
			        <span class="ui-checkbox mr0">
			            <input type="checkbox" id="J_email_agree" name="agree" class="ui-checkbox-normal" value="1" mars_sead="125|2|2|12"><label for="J_email_agree" class="ui-checkbox-simulation"></label>
			        </span>
                            <label for="J_email_agree" class="ui-label f-12">我已阅读并接受<a href="" class="red" target="_blank" id="J_email_provision">《唯品会服务条款》</a>、<a href="/" class="red" target="_blank">《隐私条款》</a>等</label>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                var isThirdLogin = false;
            </script>
        </div>
    </div>
</div>
</div>









<!-- 手机端-->
<div class="page">
    <header class="header">

        <div class="left">
            <a href="/" class="head-icon red-txt red-f7">首页</a>

        </div>
        <div class="cent">
            <span>注册</span>
        </div>
        <div class="head-icon red-txt">
            <a href="/users/login2" class="red-f6">登录</a>

        </div>
        <div class="clear"></div>
    </header>
    <div class="main">
        <div class="pdX20">
            <form id="registerPage" method="post" action="/users/login" >
                <input type="hidden" name="remark" value="0">
                <section class="mt35">
                    <ul class="uc-login">
                        <li>
                            <div class="tit">手机号</div>
                            <div class="input-box mr80">

                                <input type="tel" maxlength="11" placeholder="请输入手机号" name="user_name" id="user_name" onpaste="return false">
                            </div>
                            <!--不可点击状态 class="noClick",可点击状态 class=""-->
                            <div class="btn-code" id="sendIdentifyingCode"><a class="noClick" id="sendIdentifyingCodeChange"></a></div>
                        </li>

                        <li>
                            <div class="tit">密<i></i>码</div>
                            <div class="input-box mr72">

                                <input id="password"  name="password" type="password" maxlength="16" placeholder="请输入6-16位字符" onpaste="return false">
                                <div class="on-off"><span class="sf-turnChange hide" id="switchPwd"><i></i>abc</span></div>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="mt16 f13 gray-8" id="sendvoice" style="display: none">收不到验证码？试试<a class="gray-b" id="voiceCode">&nbsp;语音验证码&nbsp;</a><!--<a class="gray-b">&nbsp;语音验证码(20s)&nbsp;</a>-->吧</div>
                <!--“我已阅读并同意”同意<i class="on"></i>-->
            <!--    <div class="agreement mt14"><a class="radio"><i class="on" id="protocolStatus"></i></a>我已阅读并同意<a id="seeProtocol" class="red-f6" href="/passport/Protocol.aspx">《房天下服务协议》</a></div>
               --> <!--以下登录按钮不可点击状态为class="btn-login"可点击状态为class="btn-login click"-->
                <div class="mt25"><a href="javascript:void(0);" class="btn-login click" id="registerBtn" onclick="onClik456()">注 册</a></div>
            </form>
        </div>


        <div id="sendFloat" class="tz-box txz" style="display: none;">
            <!--图文验证码提示框-->
            <div id="mathCode" class="tz-con" style="display: none;">
                <ul class="ipt-list">

                    <li class="tw-yzm">
                        <div class="flexbox">
                            <img id="picVerifyCode" class="yzm" src="https://Captcha.fang.com/Display?type=wap&amp;width=150&amp;height=80&amp;r=">
                            <input id="verifyCode" type="tel" class="ipt-text vcode" placeholder="请输入右侧验证码">
                        </div>
                    </li>
                </ul>
                <div class="tz-btn flexbox">
                    <input id="closeMathCode" type="button" value="取消">
                    <input id="submitVerifyCode" type="button" value="确定">
                </div>
            </div>
            <div id="sendText" class="yzm-sta" style="display: none;">一定得是真实姓名哦！</div>
            <div id="sendText2" class="yzm-sta" style="display: none;">手机号填错了就没法登陆了哦</div>
            <div id="sendText3" class="yzm-sta" style="display: none;">填个密码噻！</div>
            <div id="sendText4" class="yzm-sta" style="display: none;">man！ 没机构编码，你注册啥！</div>
            <div id="sendText5" class="yzm-sta" style="display: none;">手机号已经注册过了，换个手机号呗！</div>
            <div id="sendText6" class="yzm-sta" style="display: none;">机构编码问问你们老板噻</div>
            <div id="sendText7" class="yzm-sta" style="display: none;">恭喜你，注册成功咯！ 请重新登录</div>
            <!--语音验证码拨打提示框-->
            <div id="voiceShow" class="tz-con" style="display: none;">
                <ul class="ipt-list">
                    <li class="f15 center h65">
                        语音播报验证码电话拨打中，请留意接听来电
                    </li>
                </ul>
                <div class="tz-btn center">
                    <a id="closeVoice" class="red-df f16">我知道了</a>
                </div>
            </div>
            <!--提示语框-->
            <div id="voiceCodeNum" class="yzm-sta" style="display: none">验证码播报次数过多，请明天再试！<!--登录失败--></div>
        </div>
    </div>
</div>
    </div>
    </div>