



<div class="page">
    <header class="header">

        <div class="left">
            <a href="javascript:history.back(-1);" class="head-icon red-txt red-f7">返回</a>

        </div>
        <div class="cent">
            <span>注册</span>
        </div>
        <div class="head-icon red-txt">
            <a href="/users/login" class="red-f6">登录</a>

        </div>
        <div class="clear"></div>
    </header>
    <div class="main">
        <div class="pdX20">
            <form id="registerPage" method="post" action="/users/login" >
                <section class="mt35">
                    <ul class="uc-login">
                        <li>
                            <div class="tit">姓<i></i>名</div>
                            <div class="input-box mr80">

                                <input type="tel" maxlength="11" placeholder="务必填写真实姓名" name="usname" id="usname" onpaste="return false">
                            </div>
                            <!--不可点击状态 class="noClick",可点击状态 class=""-->
                            <div class="btn-code" id="sendIdentifyingCode"><a class="noClick" id="sendIdentifyingCodeChange"></a></div>
                        </li>
                        <li>
                            <div class="tit">手机号</div>
                            <div class="input-box mr80">

                                <input type="tel" maxlength="11" placeholder="请输入手机号" name="user_name" id="user_name" onpaste="return false">
                            </div>
                            <!--不可点击状态 class="noClick",可点击状态 class=""-->
                            <div class="btn-code" id="sendIdentifyingCode"><a class="noClick" id="sendIdentifyingCodeChange"></a></div>
                        </li>

                        <li>
                            <div class="tit">密<i></i>码</div>
                            <div class="input-box mr72">

                                <input id="password"  name="password" type="password" maxlength="16" placeholder="请输入6-16位字符" onpaste="return false">
                                <div class="on-off"><span class="sf-turnChange hide" id="switchPwd"><i></i>abc</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="tit">机构码</div>
                            <div class="input-box">

                                <input id="partners_mark"  name="partners_mark" type="tel" maxlength="20" placeholder="请输入验证码" onpaste="return false">
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="mt16 f13 gray-8" id="sendvoice" style="display: none">收不到验证码？试试<a class="gray-b" id="voiceCode">&nbsp;语音验证码&nbsp;</a><!--<a class="gray-b">&nbsp;语音验证码(20s)&nbsp;</a>-->吧</div>
                <!--“我已阅读并同意”同意<i class="on"></i>-->
            <!--    <div class="agreement mt14"><a class="radio"><i class="on" id="protocolStatus"></i></a>我已阅读并同意<a id="seeProtocol" class="red-f6" href="/passport/Protocol.aspx">《房天下服务协议》</a></div>
               --> <!--以下登录按钮不可点击状态为class="btn-login"可点击状态为class="btn-login click"-->
                <div class="mt25"><a href="javascript:void(0);" class="btn-login click" id="registerBtn" onclick="onClik456()">注 册</a></div>
            </form>
        </div>


        <div id="sendFloat" class="tz-box txz" style="display: none;">
            <!--图文验证码提示框-->
            <div id="mathCode" class="tz-con" style="display: none;">
                <ul class="ipt-list">

                    <li class="tw-yzm">
                        <div class="flexbox">
                            <img id="picVerifyCode" class="yzm" src="https://Captcha.fang.com/Display?type=wap&amp;width=150&amp;height=80&amp;r=">
                            <input id="verifyCode" type="tel" class="ipt-text vcode" placeholder="请输入右侧验证码">
                        </div>
                    </li>
                </ul>
                <div class="tz-btn flexbox">
                    <input id="closeMathCode" type="button" value="取消">
                    <input id="submitVerifyCode" type="button" value="确定">
                </div>
            </div>
            <div id="sendText" class="yzm-sta" style="display: none;">一定得是真实姓名哦！</div>
            <div id="sendText2" class="yzm-sta" style="display: none;">手机号填错了就没法登陆了哦</div>
            <div id="sendText3" class="yzm-sta" style="display: none;">填个密码噻！</div>
            <div id="sendText4" class="yzm-sta" style="display: none;">man！ 没机构编码，你注册啥！</div>
            <div id="sendText5" class="yzm-sta" style="display: none;">手机号已经注册过了，换个手机号呗！</div>
            <div id="sendText6" class="yzm-sta" style="display: none;">机构编码问问你们老板噻</div>
            <div id="sendText7" class="yzm-sta" style="display: none;">恭喜你，注册成功咯！ 请重新登录</div>
            <!--语音验证码拨打提示框-->
            <div id="voiceShow" class="tz-con" style="display: none;">
                <ul class="ipt-list">
                    <li class="f15 center h65">
                        语音播报验证码电话拨打中，请留意接听来电
                    </li>
                </ul>
                <div class="tz-btn center">
                    <a id="closeVoice" class="red-df f16">我知道了</a>
                </div>
            </div>
            <!--提示语框-->
            <div id="voiceCodeNum" class="yzm-sta" style="display: none">验证码播报次数过多，请明天再试！<!--登录失败--></div>
        </div>

