extends ../layout

block content

    include ../head.jade
    div #{userName}
    include user_info.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/backtop.js')
    script( src='/javascripts/countTime.js')
