<div class="main">

    <section class="my-header mb8">
        <div class="head"><a href="javascript:history.back(-1);"
                             class="city">&lt;</a>

            <div class="nav-icon"><a href="/users/gy_index" id="wapmysf_B01_05" class="meg-icon"></a></div>
        </div>
        <div class="user">
            <div class="imgbox"><a
                    href="/users/login/2"
                    id="wapmysf_B01_01">
                <div class="img"><img src="../images/sf-uc-userHDefault.png"><i></i>
                </div>
            </a></div>
            <p class="xingming">

            </p></div>
     <div class="my-nav">
                <ul class="flexbox">
                    <!--     <li><a id="wapmysf_B01_02" href=""><i class="qb"></i>

                            <p>钱包</p></a></li>
                        <li><a href=""><i class="hb"></i>

                            <p>红包</p></a></li>
                        <li><a id="wapmysf_B01_03" href=""><i
                                class="quan"></i>

                            <p>优惠券</p></a></li>
                        <li><a id="wapmysf_B01_04" href=""><i class="jf"></i>

                            <p>积分商城</p></a></li> -->
                    </ul>
        </div>

    </section>
    <section id="order" class="my-list-index mb8"></section>
    <section class="my-menu1 mb8">
        <ul>
            <li class="my-orlist"><a href="/gy_customer/gy_customer"><span></span>
                <h4>我的客户 </h4></a></li>
            <li class="orlist"><a href="/users/information"
                                  id="wapmysf_B10_01"><span></span><h4>我的资料 </h4></a></li>
            <li class="collect"><a id="wapmysf_B10_08"
                                   href=""><span></span><h4>
                我的佣金</h4></a></li>
      <!--      <li class="buy"><a href="//m.fang.com/my/?c=mycenter&amp;a=sellFangList&amp;city=bj"
                               id="wapmysf_B10_04"><span></span><h4>我要卖房 </h4></a></li>
            <li class="rentalo"><a href="?c=myzf&amp;city=bj" id="wapmysf_B10_05"><span></span><h4>我要出租 </h4></a></li>
            <li class="reno"><a id="wapmysf_B10_06"
                                href="//m.fang.com/jiaju/?c=jiaju&amp;a=tyBaoming&amp;city=bj&amp;formid=90&amp;pagetitle=免费预约"><span></span>
                <h4>帮你装修</h4></a></li>
            <li class="contract"><a id="wapmysf_B10_07"
                                    href="//m.fang.com/my/?c=mycenter&amp;a=contractList&amp;city=bj"><span></span><h4>
                我的合同</h4></a></li>
            <li class="loan"><a href="//m.fang.com/dk/?CustomSource=51&amp;city=bj" id="wapmysf_B10_03"><span></span>
                <h4>我的贷款</h4></a></li>
            <li class="rentali"><a href="//m.fang.com/my/?c=mycenter&amp;a=findFangRelease&amp;city=bj"
                                   id="wapmysf_B10_02"><span></span><h4>帮你找房</h4></a></li>
        -->
        </ul>
    </section>
 </div>