<div class="bolg_box">
    <div class="bolg_main">
        <!--  <div class="bolg_nav"><span><edit type="text" name="Public_NavLocateText">您现在的位置是：</edit></span>
                <a href="http://www.vip.com"><edit type="text" name="Public_NavLocateSecondText">特卖会</edit></a>
                <a href="http://blog.vip.com/?r=/Blog/HTML_showList">&gt;&gt;博客首页</a><span class="last J_last">&gt;&gt;实体店购买唯品卡  方便快速·现付现拿</span>
            </div>

            -->
        <div class="bolg_nav"><span><edit type="text" name="Public_NavLocateText">您现在的位置是：</edit></span>
            <a href="/">
                <edit type="text" name="Public_NavLocateSecondText">特卖会</edit>
            </a>
            <a href="/news/newslist/1">
                <edit type="text" name="Public_NavLocateSecondText">&gt;&gt; 关于我们</edit>
            </a>
            <span class="last J_last"></span>
        </div>
        <div class="bolg_left fl">

            <div class="vip_story box_radius box_show01">
                <div class="til topline">
                    <edit type="text" name="Public_LeftStoryBigTitle">唯房会的故事</edit>
                    <span><edit type="text" name="Public_LeftStorySmallTitle">Story</edit></span></div>
                <p class="ban_img"><img width="186" height="130" src="/images/vfh.jpg"></p>

                <div class="s_menu">
                    <a href="#" class="on">
                        <edit type="text" name="Public_LeftStoryBlogIndex">关于我们</edit>
                    </a>
                </div>
            </div>

            <div class="vip_atte_us box_radius box_show01">
                <div class="til topline bottomline">
                    <edit type="text" name="Public_LeftFocusBigTitle">关注我们</edit>
                    <span><edit type="text" name="Public_LeftFocusSmallTitle">Focus</edit></span></div>
                <div class="at_us">
                    <ul>
                        <li><i class="i10"></i>唯房会官方微信号</li>
                    </ul>
                    <div class="at_us_box">
                        <img class="twocode" width="96" height="96" src="/images/wx.jpg" alt="微信扫一扫,特价房源 抢鲜看">

                        <p class="tac">微信扫一扫 </p>

                        <p class="tac">特价房源 抢鲜看</p>
                    </div>

                    <div class="at_us_box">

                    </div>

                </div>

            </div>
        </div>


                <div class="bolg_right fr">
                    <div class="bolg_detail box_show02">
                        <div class="detail_til"><h2>公司简介</h2>
                            <span><edit type="text"  name="Content_RightContentArtReleaseDate"></edit><time>
                            发布日期：May 20th,2017
                        </time></span></div>
                        <big><img class="J_art_content_p" src="../images/770.jpg"></big>

                        <div class="de_text J_zw_p"> <p style="text-align: center; font-size:250%;color:#c0504d">&nbsp; &nbsp; &nbsp; &nbsp;公司简介</p> <p style="text-align: center;"><br></p><p><span style="font-size: 18px;"></span><br></p><p style="text-indent:29px"><span style="font-family:'微软雅黑','sans-serif'"></span></p><p>
                            <span style="font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei">&nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="color:#c0504d">唯房会，隶属于海南唯房会互联网房产营销策划有限公司，是我们倾力打造的海南旅游房地产权威门户网站，网站拥有强大的网络团队，始终坚持以客户需求为核心，面向全国客户提供专业详细的海南岛房地产市场解读，海南购房、海南楼盘咨询等服务；网站丰富的导购内容、良好的用户找房体验正不断吸引客户进入网站。&nbsp;</span></strong></span>
                        </p>
                            <p>
                                <strong><span style="color:#c0504d;font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei"><br/></span></strong>
                            </p>
                            <p>
                                <strong><span style="color:#c0504d;font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei">&nbsp; &nbsp; &nbsp; &nbsp;唯房会定位于特价房源的销售，是一家专门做特价房的网站。特价房源一部分来自于开发商直接推出的特价房源；另外一部分是平台联合开发商主动发起的特价房源活动。虽然推出的特价房源数量有限，但相较于平时的销售市价，还是较大的价格优势。</span></strong>
                            </p>
                            <p>
                                <strong><span style="color:#c0504d;font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei"><br/></span></strong>
                            </p>
                            <p>
                                <strong><span style="color:#c0504d;font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei">&nbsp; &nbsp; &nbsp; &nbsp;唯房会深耕海南数载，取得了长足发展，公司现业务已拓展至海南岛18市县，拥有强大的网络团队和地接团队；线上倾力打造专业品牌，线下提供体贴完善的服务体系，业务开展至今，已有几万组客户通过唯房会在海南岛看房，并有数千组客户在海南岛成功置业。</span></strong>
                            </p>
                            <p>
                                <strong><span style="color:#c0504d;font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei"><br/></span></strong>
                            </p>
                            <p>
                                <strong><span style="color:#c0504d;font-family:黑体, SimHeifont-size:18px;font-size:18px;font-size:18px;font-family:黑体, SimHei">&nbsp; &nbsp; &nbsp; &nbsp;唯房会秉承“诚信做人，踏实做事”的价值观，深刻根植于每一位员工的心中。我们坚信，一个人，没有诚信就没有灵魂，没有灵魂就没有活力，没有活力就逐步走向颓败死亡，企业也是如此。秉承“诚信为本”的经营理念，我们对客户的承诺100％兑现。这种“吃亏是福”“大度行事”的准则，积累了广泛的人脉，赢得了良好口碑，已成为唯房会无形的品牌资产。</span></strong>
                            </p>
                            <p>
                                <span style="font-family:黑体, SimHei"><span style="font-size:18px">&nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                            </p>
                            <p>
                                <span style="font-family:黑体, SimHei">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                            </p><p style="text-indent:29px"><span style="font-size:15px;font-family:'微软雅黑','sans-serif'"></span><br></p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p><br></p><p>联系方式：<span style="color: rgb(241, 5, 130); font-family: tahoma, arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 微软雅黑, 宋体, sans-serif; font-size: 12px; line-height: 18px; white-space: normal; background-color: rgb(245, 245, 245);">0898-32861405</span></p></div> </div>
                </div>

    </div>
</div>

