extends ../layout

block content
    input#curpage(type="hidden",value="#{curpage}")
    include ../head.jade
    include news_list.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/backtop.js')
    script( src='/javascripts/newsList.js')

