extends ../layout

block content
    input#Id(type="hidden",value="#{Id}")
    input#newsTitle(type="hidden",value="#{newsTitle}")
    include ../head_zixunyemian.jade
    include news_detail.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/backtop.js')
    script( src='/javascripts/newsDetail.js')
    script( src='/javascripts/countTime.js')
