extends ../layout

block content

    include ../head.jade
    include news_detail.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/backtop.js')
    script( src='/javascripts/buildingsDetail.js')
    script( src='/javascripts/countTime.js')
