<div class="bolg_main">
	<!--  <div class="bolg_nav"><span><edit type="text" name="Public_NavLocateText">您现在的位置是：</edit></span>
            <a href="http://www.vip.com"><edit type="text" name="Public_NavLocateSecondText">特卖会</edit></a>
            <a href="http://blog.vip.com/?r=/Blog/HTML_showList">&gt;&gt;博客首页</a><span class="last J_last">&gt;&gt;实体店购买唯品卡  方便快速·现付现拿</span>
        </div>

        -->
	<div class="bolg_left fl">

		<div class="vip_story box_radius box_show01">
			<div class="til topline"><edit type="text" name="Public_LeftStoryBigTitle">唯房会的故事</edit><span><edit type="text" name="Public_LeftStorySmallTitle">Story</edit></span></div>
			<p class="ban_img"><img width="186" height="130" src="http://blog.vip.com/view/static/public/img/1/story_banner.jpg"></p>
			<div class="s_menu">
				<a href="#"  class="on" ><edit type="text" name="Public_LeftStoryBlogIndex">购房攻略</edit></a>
			</div>
		</div>

		<div class="vip_atte_us box_radius box_show01">
			<div class="til topline bottomline"><edit type="text" name="Public_LeftFocusBigTitle">关注我们</edit><span><edit type="text" name="Public_LeftFocusSmallTitle">Focus</edit></span></div>
			<div class="at_us">
				<ul>
					<li><i class="i10"></i>唯房会官方微信号</li>
				</ul>
				<div class="at_us_box">
					<img class="twocode" width="96" height="96" src="/images/wx.jpg" alt="微信扫一扫,特价房源 抢鲜看">
					<p class="tac">微信扫一扫 </p>
					<p class="tac">特价房源 抢鲜看</p>
				</div>

				<div class="at_us_box">

				</div>

			</div>

		</div>
	</div>

	<div class="bolg_right fr">
		<div class="bolg_detail box_show02">


		</div>
	</div>
</div>