

<div>
    <div class="banner-lc-vip">
        <ul class="lc-banner clearfix" id="animationCarousel"><li class="lc-banner-bg3" mars_sead="JRWPHVISITOR_1_jrsyydlwph_btn__N" style="z-index: 3; opacity: 1;">   <a href="/users/register2" style="background-image: url(../images/jrbanner.png)" target="_blank">   </a></li></ul>
        <ol id="turnDot" style="display: none;"></ol>
        <a href="javascript:;" class="prev" style="display: none;"></a>
        <a href="javascript:;" class="next" style="display: none;"></a>
    </div>
</div>


<!-- 滚动公告 -->
<div style="background: #F2F2F2;">
<div class="notice" style="display:none;">
    <div class="notice-main">
        <i class=""></i>
        <div id="marquee2" class="noticeContent">
            <ul class="noticeText"></ul>
        </div>
    </div>
</div>

    <div class="wrap">
        <div class="mftzjlb">
            <div class="single">
                <p>唯房会慕老师投资俱乐部简介</p>
            </div>
            <ul>
            </ul>
        </div>
        <div class="jlb" deep="2">
            <p>唯房会慕老师投资俱乐部是唯房会旗下的专业房产投资分享平台，从2016年1月1日拥有第1个付费会员到今天已拥有近数千名付费会员以及30万粉丝，共布局近千套、总价值超20亿的不动产。唯房会投资俱乐部始终坚持自己先投、会员跟投的投资理念，目前已经让早期共同投资的会员财富增值超百万、让更多风险投资人以及投资机构持续关注、让更多房产投资极客慕名加入！</p>
            <p>在俱乐部成立的2年时间里，俱乐部公众号已经从中国楼市微信影响力排行榜榜尾直线跃升为榜眼，布局的上千套房产已经有近400套房产获得超额回报！唯房会投资俱乐部虽然成立只有2年，但是内部组成却是一支在房地产从业多年、经验丰富、业绩卓越、执行力强的专业化团队，邀约的10名特约分析师具有宽阔的国际视野以及投资经验。</p>

        </div>
        <div class="mftzjlb">
            <div class="single">
                <p>唯房会慕老师投资俱乐部独立分析师慕老师简介</p>
            </div>
            <ul>
            </ul>
        </div>
        <div class="jlb">
            <p>慕老师，本名慕嘉兴，担任唯房会慕老师投资俱乐部独立分析师，毕业于北京林业大学， 从事互联网、金融、地产相关行业多年，慕老师最著名的言论：不懂互联网你就把握不了未来的方向！不懂金融和地产，你将会被这个世界所抛弃，因为地产的本质是金融、世界发展的源动力也是金融！慕老师擅长捕捉国家政策利好和宏观经济周期给楼市带来的财富机会，提前布局、提前介入、提前获利！</p>
        </div>，
        <div class="mftzjlb">
            <div class="single">
                <p>唯房会投资俱乐部分析师团队简介</p>
            </div>
            <ul>
            </ul>
        </div>
        <div class="jlb">
            <p>唯房会投资俱乐部分析师团队有 10 人构成，均是从事大类资产配置领域的业内精英，具有前瞻的国际视野，内容分别发布在唯房会投资俱乐部公众号，焦点均为最新的政策解读、楼市见解、区域分析等，近 100 篇文章在各大媒体阅读量 10 万+，让超过 3 千人买到能涨价的好房子。</p>
        </div>
        <div class="mftzjlb">
            <div class="single">
                <p>加入俱乐部的条件</p>
            </div>
            <ul>
            </ul>
        </div>
        <div class="jlb2">
            <p>1.加入的会员应具有热爱祖国、热爱人民，没有反动、背叛和反国的历史记录；</p>
            <p>2.思想端正、为人正直，没有吸毒犯罪等不良记录；</p>
            <p>3.资金来源合法合规，没有金融犯罪、不明资产来源的历史问题；</p>
            <p>4.遵守中华人民共和国相关法规法律，遵守国家在房地产行业制定的相关规定、条例，不得违背国家和地方政府在房地产制定的系列规定和条例；</p>
            <p>5.会员必须遵守俱乐部的相关约定；</p>
            <p>6.俱乐部所有的活动必须遵守相关的国家政策法规，不得从事洗钱、赌博和违法募资等违背国家相关的金融规定，不得从事金融诈骗等国家禁止的活动。</p>
            <p>7.不分性别、年龄必须大于 18 岁以上的，均可加入。</p>
        </div>
        <div class="mftzjlb">
            <div class="single">
                <p>加入俱乐部享受服务</p>
            </div>
            <ul>
            </ul>
        </div>
        <div class="jlb2">
            <p>1.可以免费参加俱乐部在全国范围内的线下活动；</p>
            <p>2.可以免费获得慕老师的投资意见，获得各分站专业投资分析师的一对一在线指导；</p>
            <p>3.可以免费获得相关的法律服务，内部分享的房产投资报告，观看慕老师及其他资深人士的视频录像等；</p>
            <p>4.可参与俱乐部组织的相关有保障的投资活动，获得 15%的年化固定收益。</p>
            <p>5.可跟随慕老师共同参加线下投资活动，提前布局价值洼地，并享受美房大管家一站式服务，包括成本价装修、免费代理出租、免费转让等一系列相关服务。</p>
        </div>
        <div class="mftzjlb">
            <div class="single">
                <p>加入俱乐部的要求</p>
            </div>
            <ul>
            </ul>
        </div>
        <div class="jlb2">
            <p>1.成为会员：加入俱乐部的会员费用是 1000 元/年；</p>
            <p>2.会员期间参加不限次数的上述权利。</p>
        </div>


    </div>




</div>


