extends ../layout
block content

    include ../head2.jade
    include jinrong.html
    include ../footer.html
    script( src='/javascripts/head.js')
    script( src='/javascripts/backtop.js')
    script( src='/javascripts/countTime.js')
